
<% str_title = ' <i class="bi bi-archive"></i> ' %>
<% str_title = str_title + collection.title.truncate(55) %>
<% if collection.private == true %>
    <% str_title = str_title + ' <i class="fa fa-eye-slash"></i>' %>
<% end %>

<div class="tag-box tag-box-v4 margin-bottom-20 well well-sm">
  <!-- Begin Inner Results -->

  <div class="card border-top-0 border-end-0 border-bottom-0 border-primary border-4">
      <div class="card-body">
      <!-- Begin Inner Results -->
      <% if can? :approve, collection and !collection.approved %>
        <div class=" d-flex flex-row-reverse">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Approve Collection", approve_submission_path(:submission_id => collection.id, :submission_type => "collection"), :class => "dropdown-item" %></li>
              <li><%= link_to "Deny Submission", denial_submission_path(:submission_id => collection.id, :submission_type => "collection"), :class => "dropdown-item" %></li>
            </ul>
          </div>
        </div>
     <% end %>
      <h4 class="card-title pb-2"><%= link_to raw(str_title), collection_path(collection) %></h4>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= raw collection.tags[0..2].map { |t| link_to raw('<span class="badge rounded-pill bg-secondary dark-badge-link"><i class="fa fa-tag"></i> ' + t.name), update_search_path(:tags=>[t.id]) }.join('</span>&nbsp;') %>
        <%= link_to raw('...more'), collection_path(collection) if collection.tag_list.size > 4 %>
      </h6>
      <%= simple_format collection.description.truncate(80) if !collection.description.nil? %>
      <div class="text-muted resource-small"><%= link_to collection.organization.name, organization_path(collection.organization) if !collection.organization.nil? %> (<%= link_to collection.author.name, user_path(collection.author) if !collection.author.nil? %>)</div>
      <div class="row resource-small pt-3">
      <div class="col text-muted fw-light text-center border-end"><%= collection.resources.count %> Resource<% if collection.resources.count > 1 %>s<% end %> in this collection</div>
        <div class="col text-muted fw-light text-center border-end">Uploaded <%= time_ago_in_words collection.created_at %> ago</div>
        <div class="col text-muted fw-light text-center">Last updated <%= time_ago_in_words collection.updated_at %> ago</div>
      </div>
      </div>
    </div>
</div>

