<%= simple_form_for(@collection, :html => { role: "form", multipart: true }) do |f| %>
    <%= f.input :url, :as => "hidden" %>
    <%= f.input :author_id, :as => "hidden" %>
    <%= f.input :maintainer_id, :as => "hidden" %>
    <input type="hidden" name="tags_list" value="" id="tags_list">

    <% if @collection.errors.count > 0 %>
        <div class="alert alert-danger fade in">
          <h4>Correct Errors Before Continuing</h4>
          <p>The following fields have to be corrected.</p>
          <% @collection.errors.each do |e| %>
              <%= e %><br>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <label for="title">Title</label>
      <%= f.input_field :title, class: "form-control", id: 'title', placeholder: 'Enter Title', maxlength: 255 %>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <%= f.input_field :description, class: "form-control", id: 'description', placeholder: 'Information about this collection' %>
    </div>

    <div class="form-group">
      <label for="tags">Tag(s)</label>
      <%= f.collection_select :tags, Resource.tag_counts, :name, :name, {}, {:multiple => true, :style => 'width:100%', :class => "col-xs-10 form-control multiple-chosen-select"} %>
    </div>

    <div class="checkbox">
      <%= f.check_box :private %> <%= f.label :private %>
    </div>

    <% if !@collection.image.blank? %>
        <%= image_tag @collection.image.url(:thumb), class: "img-responsive pull-left" %>
        <div class="form-group col-lg-offset-1">
          <label for="title">Replace Image</label>
          <%= f.input_field :image, id: 'image',  data: { :"show-upload" => "false" } %>
        </div>
    <% else %>
        <div class="form-group">
          <label for="title">Image</label>
          <%= f.input_field :image, id: 'image',  data: { :"show-upload" => "false" } %>
        </div>
    <% end %>

    <div class="clear"></div>

    <div class="form-group">
      <label for="attachment">Activity</label>

      <%= f.select :activity_id, Activity.all.collect {|x| [x.name, x.id]}, class: 'form-control', label: false, placeholder: 'Choose an Actvitity', :include_blank => true %><br>
      <small>If this resource relates to one of the listed activities, select it above</small>
    </div>

    <% if current_user.organizations.count > 0 && @collection.id.nil? %>
        <div class="form-group">
          <label for="attachment">Organization</label>
          <%= f.select :organization_id, current_user.organizations.all.collect {|x| [x.name, x.id]}, label: false %>
        </div>
    <% end %>

    <div class="form-group">
      <label for="description">Notes</label>
      <%= f.input_field :notes, class: 'form-control', id: 'notes', placeholder: 'Enter notes' %>
    </div>


    <% if can? :add_newsletter_collection, @collection %>
        <div class="checkbox">
          <%=
            f.input :newsletter_only, label: false, as: :boolean do
              f.check_box :newsletter_only, {}, "true", "false"
            end
          %> Limit access to newsletter subscribers only
        </div>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-lg btn-color' %>
    </div>
<% end %>


<script>
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

// an array that will be populated with substring matches
            matches = [];

// regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

// iterate through the pool of strings and for any string that
// contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
// the typeahead jQuery plugin expects suggestions to a
// JavaScript object, refer to typeahead docs for more info
                    matches.push({ value: str });
                }
            });

            cb(matches);
        };
    };

    $(function(){

        $(".chosen-select").chosen();
        $(".multiple-chosen-select").chosen();

    });
</script>