<%= simple_form_for(@collection, :html => { role: "form", multipart: true }) do |f| %>
    <%= f.input :url, :as => "hidden" %>
    <%= f.input :author_id, :as => "hidden" %>
    <%= f.input :maintainer_id, :as => "hidden" %>
    <input type="hidden" name="tags_list" value="" id="tags_list">

    <% if @collection.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@collection.errors.count, t('errors.error')) %>
          <%= t('errors.prohibited') %>
        </h2>
        <ul>
          <% @collection.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.label :title %><br>
        <%= f.input_field :title, class: "form-control", id: 'title', placeholder: 'Enter Title', maxlength: 255 %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.label :description %><br>
        <%= f.input_field :description, class: "form-control", id: 'description', label: false, placeholder: 'Information about this collection' %>
      </div>
    </div>

    <%

      grouped_tags = {}
      TagType.all.order(:name).each do |category|
        category.tags.order(:name).each do |tag|
          grouped_tags[category.name] ||= []
          grouped_tags[category.name] << tag.name
        end
      end

    %>

    <div class="row p-2">
      <div class="col-md-12">
      <span class="text-danger">*</span> <%= f.label :tags %><br>
        <%= f.input_field :tags,
                          :label => false,
                          :id => "multiselect",
                          :as => :grouped_select,
                          :collection => grouped_tags,
                          :group_method => :last,
                          :multiple => true,
                          :class => "form-control",
                          data: {controller: "multiselect", placeholder: "Begin typing to search for tags"} %>
      </div>
    </div> 

    <div class="row p-2">
      <div class="col-md-12">
        <div class="form-check form-switch pt-4">
          <%= f.check_box :private, class: "form-check-input", role: "switch" %>
          <%= f.label "Mark as a private collection that can only be accessed by users in my organization", class: "form-check-label" %>
        </div>
      </div>
    </div>

    <div class="row p-2">
      <% if current_user.organizations.count > 1 && @collection.id.nil? %>
          <div class="col-md-12">
            <%= f.label :organization %><br>
            <%= f.select :organization_id, current_user.organizations.all.collect {|x| [x.name, x.id]}, { include_blank: true}, {class: 'form-select'}%>
          </div>
      <% elsif current_user.organizations.count == 1 && @collection.id.nil? %>
        <%= f.input_field :organization_id, :value => current_user.organizations.first.id, :as => "hidden" %>
      <% end %>
    </div>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.label :notes %><br>
        <%= f.input_field :notes, class: 'form-control', id: 'notes', placeholder: 'Enter notes' %>
      </div>
    </div>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.button :submit, class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
<% end %>

