<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li><%= link_to (session[:last_search_id] ? search_path(session[:last_search_id]) : new_search_path) do %>Search<% end %></li>
          <li>Collection</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

   <div class="row">
     <div class="col-3 border-end">
      <div class="row border-bottom pb-2 me-1">
        <div class="col fs-5"><i class="bi bi-archive"></i> Collection</div>
        <div class="col d-flex flex-row-reverse available-tags">
          <% if (can? :moderate, @collection) or (@collection.can_edit(@current_user)) or (@collection.can_add_resources(@current_user)) %>
            <div class="dropdown">
              <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu">
              <% if (can? :moderate, @collection) or @collection.can_edit(current_user) %>
                <li><%= link_to "Edit Collection", edit_collection_path(@collection), class: "dropdown-item" %></li>
              <% end %>
              <% if can? :delete, @collection or can? :moderate, @collection %>
              <li><%= link_to "Add Resource", new_collection_resourcing_path(@collection), class: "dropdown-item" %></li>
                  <li><%= link_to "Delete", @collection, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "dropdown-item" %></li>
              <% end %>
              <% if can? :approve, @collection and !@collection.approved %>
                <li><%= link_to "Approve collection", approve_submission_path(:submission_id => @collection.id, :submission_type => "collection"), :class => "dropdown-item" %></li>
                <li><%= link_to "Deny Submission", denial_submission_path(:submission_id => @collection.id, :submission_type => "collection"), :class => "dropdown-item" %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
        <ul class="list-group list-group-flush bg-transparent">
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Uploaded By</div>
            <div class="ms-3">
              <%= link_to organization_path(@collection.organization) do %><%= @collection.organization.name %><% end %>
            </div>
          </li>
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Date Added</div>
            <div class="ms-3">
              <%= @collection.created_at.strftime("%Y-%m-%d") %>
            </div>
          </li>
          <% if @related_collections %>
            <li class="list-group-item bg-transparent text-muted">
              <div class="text-danger">Related collections</div>
              <ul class="list-group list-group-flush bg-transparent">
                <% @related_collections.each do |collection| %>
                  <li class="list-group-item bg-transparent"><%= link_to collection do %><%= collection.title %><% end %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
     </div>
     <div class="col-9">
      <div class="border-bottom pb-2"><span class="fs-5"><%= @collection.title %> &nbsp;</span></h5></div>
       <% if @collection.tags.count > 0 %>
        <div class="p-2">
          <% @collection.tags.each do |tag| %>
            <a href="<%= new_search_path(:tags => [tag.id]) %>" class="badge rounded-pill bg-dark dark-badge-link" href="#"><i class="fa fa-tags"></i> <%= tag.name %></a>
          <% end %>
        </div>
       <% end %>
       <div class="card text-bg-light m-2">
        <div class="card-body">
          <%= simple_format @collection.description %>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <% if @collection.resources.empty? %>
            <p>
              No resources available in this collection,
              <% if @collection.can_add_resources(current_user) %>
                  <%= link_to 'add some', new_collection_resourcing_path(@collection) if can? :add, @collection and @collection.can_add_resources(current_user) %>
              <% end %>
            </p>
            <% else %>
            <% @collection.resources.order(updated_at: :desc).each do |resource| %>
              <%= render resource %>
              <% if (can? :moderate, @collection) or (@collection.can_edit(@current_user)) or (@collection.can_add_resources(@current_user)) %>
                <div class="d-flex flex-row-reverse"><%= link_to "Remove From Collection", remove_resourcing_path(resource_id: resource.id, collection_id: @collection.id), :data => { :turbo_confirm => 'Are you sure you want to remove this resource? It will not be deleted but will be removed from this collection.' }, class: 'btn btn-outline-danger btn-sm' %></div>
                <div class="border-bottom mb-2">&nbsp; </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>


       
       <div class="mt-2">
        
       </div>
     </div>
   </div>

  </div>
</section><!-- End About Section -->