<%= simple_form_for(@featured_search, :html => { role: "form", multipart: true, autocomplete: 'off'}) do |form| %>
  <% if @featured_search.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@featured_search.errors.count, t('errors.error')) %>
        <%= t('errors.prohibited') %>
      </h2>
      <ul>
        <% @featured_search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3 p-2">
    <div class="col-md-12">
      <span class="text-danger">*</span><%= form.label :search_name %><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row g-3 p-2">
    <div class="col-md-12">
      <%= form.label :icon_identifier %><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text h-100 selected-icon"></span>
        </div>
        <%= form.text_field :icon_identifier, id: "iconpicker", class: "form-control iconpicker", data: {controller: "iconpicker"}, placeholder: "Begin typing to search for icons", value: @featured_search.icon_identifier  %>
      </div>
    </div>
  </div>
  <div class="row g-3 p-2">
    <div  class="col-md-12 pb-2">
      <span class="text-danger">*</span><%= form.label :tags %><span>&nbsp;<%= link_to '<i class="fa-regular fa-rectangle-list"></i>'.html_safe, show_guide_path, data: { turbo_frame: "modal" } %></span><br>
      <%= form.input_field :tags,
                              :label => false,
                              :id => "multiselect",
                              :as => :grouped_select,
                              :collection => @grouped_tags,
                              :group_method => :last,
                              :multiple => true,
                              :class => "form-control",
                              data: {controller: "multiselect", placeholder: "Begin typing to search for tags"} %>
    </div>
  </div>

    <%  if Cop.is_user_cop_admin(current_user) %>
      <div class="card m-3">
        <div class="card-header">
          COP-specific fields
        </div>
        <div class="card-body">
          <div class="row p-2">
            <div class="col-md-12">
              <%= form.label :cop %><br>
              <% if can? :manage, :all %>
                <%= form.select :cop_id, Cop.all.order(:name).collect {|a| [a.name, a.id]}, {include_blank: "Select One (optional)"}, { :class => "form-control" } %>
              <% else %>
                <%= form.select :cop_id, Cop.admin(current_user).collect {|a| [a.name, a.id]}, {include_blank: false}, { :class => "form-control" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <div class="row g-3 p-2">

    <div class="col-md-12">
      <% if current_page?(new_featured_search_path) || @featured_search.id == nil %>
        <%= form.submit t('helpers.submit.create', model: FeaturedSearch.model_name.human.titleize), class: "btn btn-outline-primary" %>
      <% else %>
        <%= form.submit t('helpers.submit.update', model: FeaturedSearch.model_name.human.titleize), class: "btn btn-outline-primary" %>
          <span class="float-end"><%= link_to t('navigation.delete'), featured_search_path(@featured_search),
            method: :delete,
            data: { turbo_confirm: "Are you sure you want to delete this Featured Search?", turbo_method: :delete }, class: "btn btn-outline-danger" %></span>
      <% end %>
      <%= link_to t('navigation.cancel'), featured_searches_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
