
<%= simple_form_for(@featured_search, :html => { role: "form", multipart: true, class: "sky-form" }) do |form| %>
  <% if @featured_search.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@featured_search.errors.count, t('errors.error')) %>
        <%= t('errors.prohibited') %>
      </h2>
      <ul>
        <% @featured_search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-12">
      <%= form.label :search_name %><span class="text-danger">*</span><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= form.label :icon_identifier %><br>
      <%= form.text_field :icon_identifier, class: "form-control" %>
    </div>

     <div class="col-md-12">
      <%= form.label :cop %><br>
      <%= form.select :cop_id, Cop.all.collect {|a| [a.name, a.id]}, {include_blank: "Select One (optional)"}, { :class => "form-control" } %>
    </div>

    <div  class="col-md-12 pb-2">
      <%= form.label :tags %><span class="text-danger">*</span><br>
      <%= form.input_field :tags,
                              :label => false,
                              :id => "multiselect",
                              :as => :grouped_select,
                              :collection => @grouped_tags,
                              :group_method => :last,
                              :multiple => true,
                              :class => "form-control",
                              data: {controller: "multiselect", placeholder: "Begin typing to search for tags"} %>
    </div>
    <div class="col-md-12">
      <% if current_page?(new_featured_search_path) || @featured_search.id == nil %>
        <%= form.submit t('helpers.submit.create', model: FeaturedSearch.model_name.human), class: "btn btn-outline-primary" %>
      <% else %>
        <%= form.submit t('helpers.submit.update', model: FeaturedSearch.model_name.human), class: "btn btn-outline-primary" %>
          <span class="float-end"><%= link_to t('navigation.delete'), featured_search_path(@featured_search),
            method: :delete,
            data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-outline-danger" %></span>
      <% end %>
      <%= link_to t('navigation.cancel'), featured_searches_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
