<%= simple_form_for(@announcement, :html => { role: "form", multipart: true, class: "sky-form" }) do |form| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@announcement.errors.count, t('errors.error')) %>
        <%= t('errors.prohibited') %>
      </h2>
      <ul>
        <% @announcement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-12">
      <%= form.label :name %><span class="text-danger">*</span><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>

     <div class="col-md-12">
      <%= form.label :short_description %><br>
      <%= form.text_field :short_description, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= form.label :long_description %><br>
      <%= form.text_field :long_description, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= form.label :expiration_date %><br>
      <%= form.date_select :expiration_date, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= form.label :is_private %><br>
      <%= form.check_box :is_private %>
    </div>

    <div class="col-md-12">
      <%= form.label :is_featured %><br>
      <%= form.check_box :is_featured %>
    </div>

    <div class="col-md-12">
      <%= form.label :cop %><br>
      <%= form.collection_select :cop_id, Cop.order(:name), :id, :name, {}, { class: "form-control" } %>
    </div>

    <div class="col-md-12">
      <%

   grouped_tags = {}
   TagType.all.each do |category|
     category.tags.each do |tag|
       grouped_tags[category.name] ||= []
       grouped_tags[category.name] << tag.name
     end
   end

%>

<div class="form-group">
  <%= form.label :tags %><span class="text-danger">*</span><br>
  <%= form.input_field :tags,
                    :label => false,
                    :id => "tags",
                    :as => :grouped_select,
                    :collection => grouped_tags,
                    :group_method => :last,
                    :multiple => true,
                    :class => "col-md-10 form-control multiple-chosen-select" %>
    </div>
    <div class="col-md-12">
      <% if current_page?(new_announcement_path) || @announcement.id == nil %>
        <%= form.submit t('helpers.submit.create', model: Announcement.model_name.human), class: "btn btn-outline-primary" %>
      <% else %>
        <%= form.submit t('helpers.submit.update', model: Announcement.model_name.human), class: "btn btn-outline-primary" %>
          <span class="float-end"><%= link_to t('navigation.delete'), announcement_path(@announcement),
            method: :delete,
            data: { confirm: t('warnings.are_you_sure') }, class: "btn btn-outline-danger" %></span>
      <% end %>
      <%= link_to t('navigation.cancel'), announcements_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
