<ul id="sidebar-nav" class="list-unstyled ps-2 accordion accordion-flush">
  <h2 class="accordion-item pb-2">
    <li class="available-tags ps-1">
      <a href="<%= users_url %>" class="<%= 'active' if current_page?(users_url) %>">Users</a>
    </li>
  </h2>
  <h2 class="accordion-item pb-2">
    <li class="available-tags ps-1">
      <a href="<%= organizations_url %>" class="<%= 'active' if current_page?(organizations_url) %>">Organizations</a>
    </li>
  </h2>
  <h2 class="accordion-item pb-2">
    <li class="available-tags ps-1">
      <a href="<%= tags_url %>" class="<%= 'active' if current_page?(tags_url) %>">Tags</a>
    </li>
  </h2>
  <h2 class="accordion-item pb-2">
    <li class="available-tags ps-1">
      <a href="<%= cops_url %>" class="<%= 'active' if current_page?(cops_url) %>">Communities of Practice</a>
    </li>
  </h2>
</ul>