<ul id="sidebar-nav" class="list-group list-group-flush ps-2">
  <li class="list-group-item available-tags ps-1 pt-0">
    <a href="<%= users_url %>" class="<%= 'active' if current_page?(users_url) %>">Users</a>
  </li>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= organizations_url %>" class="<%= 'active' if current_page?(organizations_url) %>">Organizations</a>
  </li>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= tags_url %>" class="<%= 'active' if current_page?(tags_url) %>">Tags</a>
  </li>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= cops_url %>" class="<%= 'active' if current_page?(cops_url) %>">Communities of Practice</a>
  </li>
</ul>