<ul id="sidebar-nav" class="list-group list-group-flush ps-2">
  <li class="list-group-item available-tags ps-1 pt-0">
    <a href="<%= announcements_url %>" class="<%= 'active' if current_page?(announcements_url) %>">Announcements</a>
  </li>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= cops_url %>" class="<%= 'active' if current_page?(cops_url) %>"><%= t('navigation.cops')%></a>
  </li>
  <% if user_signed_in? and (can? :approve, Resource or can? :approve, Collection or can? :manage, :all) %>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= denial_reasons_url %>" class="<%= 'active' if current_page?(denial_reasons_url) %>">Denial Reasons</a>
    </li>
  <% end %>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= events_url %>" class="<%= 'active' if current_page?(events_url) %>">Events</a>
  </li>
  <li class="list-group-item available-tags ps-1">
    <a href="<%= featured_searches_url %>" class="<%= 'active' if current_page?(featured_searches_url) %>">Featured Searches</a>
  </li>
  <% if user_signed_in? and (can? :approve, Resource or can? :approve, Collection or can? :manage, :all) %>
    <% if current_user.organizations.count > 1 %>
      <li class="list-group-item available-tags ps-1">
        <a href="<%= user_orgs_index_url %>" class="<%= 'active' if current_page?(user_orgs_index_url) %>"><%=t('navigation.my_organizations')%></a>
      </li>
    <% end %>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= organizations_url %>" class="<%= 'active' if current_page?(organizations_url) %>"><%=t('navigation.organizations')%></a>
    </li>
  <% end %>
  <% if user_signed_in? and can? :manage, :all %>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= organization_types_url %>" class="<%= 'active' if current_page?(organization_types_url) %>"><%=t('navigation.organization_types')%></a>
    </li>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= tags_url %>" class="<%= 'active' if current_page?(tags_url) %>"><%=t('navigation.tags')%></a>
    </li>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= tag_types_url %>" class="<%= 'active' if current_page?(tag_types_url) %>"><%=t('navigation.tag_types')%></a>
    </li>
    <li class="list-group-item available-tags ps-1">
      <a href="<%= users_url %>" class="<%= 'active' if current_page?(users_url) %>"><%=t('navigation.users')%></a>
    </li>
  <% end %>
  
  
  
  
</ul>