<%= simple_form_for @tag,
                    :url => url_for(:action => 'update_tag', :controller => 'admin'),
                    :method => 'post' do |f| %>
    <%= f.input :id, :as => "hidden", :value => @tag %>
    <%= f.error_notification %>

    <div class="form-group">
      <label for="title">Tag Text</label>
      <%= f.input_field :name, class: "form-control", id: 'name', placeholder: 'Enter Tag' %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :tag_type %><br>
      <%= f.collection_select :tag_type_id, TagType.order(:name),:id,:name, {}, { class: "form-control" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

