
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">
      <div class="tab-v2">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#recent_signups">Recent Signups</a></li>
          <li><a data-toggle="tab" href="#organization_approvals"><span class="badge rounded-2x badge-u"><%= @organizations.count %></span> Pending Organization</a></li>
          <% if can? :approve, Resource or can? :approve, Collection %>
            <li><a data-toggle="tab" href="#pending_submissions"><span class="badge rounded-2x badge-u"><%= @pending_submissions.count %></span> Pending Submissions</a></li>
          <% end %>
          <li><a data-toggle="tab" href="#invite_user">Invite User</a></li>
        </ul>
        <div class="tab-content">
          <div id="organization_approvals" class="tab-pane fade in">
            <%= link_to raw('<i class="fa fa-building"></i> Manage Organizations'), orgs_path, class: 'btn btn-u btn-sm pull-right' %>
            <% if @organizations.count > 0 %>
                <p>The following organizations are pending approval. Check their domains to make sure they are a valid organization and click "Approve".</p>
                <%= render partial: 'organizations/table_list' %>
                <%= will_paginate @organizations %>
            <% else %>
                <p>There are no organizations pending approval right now</p>
            <% end %>
          </div>
          <% if can? :approve, Resource or can? :approve, Collection %>
            <div id="pending_submissions" class="tab-pane fade in">
              <%= link_to raw('<i class="fa fa-spinner"></i> Manage Submissions'), moderate_submissions_path, class: 'btn btn-u btn-sm pull-right' %>
              <%= render :partial => 'show_pending_submissions', :locals => { :pending_submissions => @pending_submissions } %>
            </div>
          <% end %>
          <div id="recent_signups" class="tab-pane fade in active">
            <%= link_to 'Manage Users', users_path, class: 'btn btn-u btn-sm pull-right' %>
            <p>Showing most recent sign ups to the portal</p>
            <%= render partial: 'users/table_list', locals: { users: @users } %>
            <%= will_paginate @users %>
          </div>
          <div id="invite_user" class="tab-pane fade in">
            <h4>Invite User</h4>
            <%= simple_form_for @inviteuser,
                                :url => url_for(:action => 'invite_user', :controller => 'admin'),
                                :method => 'post' do |f| %>
                <div class="form-group">
                  <label for="name">Name</label>
                  <%= f.input_field :name, class: "form-control", id: 'name', placeholder: 'Enter Name' %>
                </div>

                <div class="form-group">
                  <label for="name">Email</label>
                  <%= f.input_field :email, class: "form-control", id: 'email', placeholder: 'Enter Email' %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, value: 'Invite User', class: 'btn btn-sm btn-color' %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render 'admin/sidebar' %>
    </div>
  </div>
</div>

