
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
        <li><%=t('navigation.administration')%></li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
      <h5 class="border-bottom pb-2"><i class="bi bi-toggles2"></i> <%=t('navigation.administration')%></h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">

        <div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded=<%= !@show_orgs ? "true" : "false" %> aria-controls="collapseOne">
                  <h5 class="text-primary p-2"><%= @users_needing_role.count %> Users Pending Portal Role Assignment</h5>
                </button>
              </h2>
              <div id="collapseOne" class="<%= !@show_orgs ? "accordion-collapse collapse show" : "accordion-collapse collapse" %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= render partial: 'users/simple_table_list', locals: { users: @users_needing_role } %>
                  <div class="apple_pagination">
                    <%= will_paginate @users_needing_role %>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h5 class="text-primary p-2"><%= @organizations.count %> Organizations Pending Approval</h5>
                </button>
              </h2>
              <div id="collapseTwo" class="<%= @show_orgs ? "accordion-collapse collapse show" : "accordion-collapse collapse" %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <% if @organizations.count > 0 %>
                      <p class="resource-small">The following organizations are pending approval. Check their domains to make sure they are a valid organization and click "Approve".</p>
                      <%= render partial: 'organizations/table_list', locals: {user_memberships_tab: false} %>
                      <div class="apple_pagination">
                        <%= will_paginate @organizations, :param_name => 'org_page' %>
                      </div>
                  <% else %>
                      <p>There are no organizations pending approval right now.</p>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h5 class="text-primary p-2"><%= @pending_submissions.count %> Pending Submissions</h5>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <%= render :partial => 'show_pending_submissions', :locals => { :pending_submissions => @pending_submissions } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
