<%= form_with model: @cop, local: true do |form| %>
  <% if @cop.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cop.errors.count, t('errors.error')) %>
        <%= t('errors.prohibited') %>
      </h2>
      <ul>
        <% @cop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-8">
      <%= form.label :name %><span class="text-danger">*</span><br>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= form.label :admin %><span class="text-danger">*</span><br>
      <%= form.collection_select :admin_id, User.order(:name), :id, :name, {}, { class: "form-control" } %>
    </div>

    <div class="col-md-12">
      <%= form.label :description %><span class="text-danger">*</span><br>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group col-md-12">
      <% if current_page?(new_cop_path) || @cop.id == nil %>
        <%= form.submit t('helpers.submit.create', model: Cop.model_name.human), class: "btn btn-outline-primary" %>
      <% else %>
        <%= form.submit t('helpers.submit.update', model: Cop.model_name.human), class: "btn btn-outline-primary" %>
        <span class="float-end"><%= link_to t('navigation.delete'), cop_path(@cop),
          data: { turbo_confirm: "Are you sure you want to delete this COP?", turbo_method: :delete }, class: "btn btn-outline-danger" %></span>
      <% end %>
      <%= link_to t('navigation.cancel'), cops_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>

<% end %>
  