<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
      <li><%= link_to users_path do %><%=t('navigation.administration')%><% end %></li>
      <li><%= t('navigation.cops')%></li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><%=t('navigation.administration')%></h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="border-bottom">
          <div class="text-end border-bottom"><%= link_to t('navigation.new_cop'), new_cop_path, class: "btn btn-outline-primary admin-top-action mb-1" %></div>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th><%=t('activerecord.attributes.cop.name') %></th>
                    <th><%=t('activerecord.attributes.cop.description') %></th>
                    <th><%=t('activerecord.attributes.cop.admin') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @cops.each do |c| %>
                    <tr>
                      <td><%= link_to c.name, edit_cop_path(c) %></td>
                      <td><%= c.description %></td>
                      <td><%= c.admin.name %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
</section>