<div class="row border-bottom pb-2 me-1">
  <div class="col fs-5"><i class="bi bi-person"></i> Users </div>
  <div class="col d-flex flex-row-reverse available-tags">
    <% if can? :manage, :all || (can? :approve, @user && !@user.approved) %>
      <div class="dropdown">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu">
          <% if can? :manage, :all %>
            <li><%= link_to "Edit User", edit_user_path(@user), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div>
  <ul class="list-group list-group-flush bg-transparent">
    <% if !@user.about.nil? %>
      <li class="list-group-item bg-transparent text-muted">
        <div class="text-danger">About</div>
        <div class="ms-3"><%= simple_format @user.about %></div>
      </li>
    <% end %>

    <li class="list-group-item bg-transparent text-muted">
      <div class="text-danger">Title</div>
      <div class="ms-3"><%= @user.title ? @user.title : 'None' %></div>
    </li>
    <li class="list-group-item bg-transparent text-muted">
      <div class="text-danger">Portal Role</div>
      <div class="ms-3"><%= @user.roles.pluck(:name).join(', ').titleize %></div>
    </li>
    <li class="list-group-item bg-transparent text-muted">
      <div class="text-danger">Member For</div>
      <div class="ms-3"><%= time_ago_in_words(@user.created_at) %></div>
    </li>

    <% if can? :manage, :all %>
      <li class="list-group-item bg-transparent text-muted">
        <div class="text-danger">Last Login</div>
        <div class="ms-3"><%= time_ago_in_words(@user.last_sign_in_at) + ' ago' if !@user.last_sign_in_at.nil? %><%= "Never logged in" if @user.last_sign_in_at.nil? %></div>
      </li>
      <li class="list-group-item bg-transparent text-muted">
        <div class="text-danger">Resources Contributed</div>
        <div class="ms-3"><%= @user.resources.count %></div>
      </li>
      <li class="list-group-item bg-transparent text-muted">
        <div class="text-danger">Collections Contributed</div>
        <div class="ms-3"><%= @user.collections_authored.count %></div>
      </li>
    <% end %>
  </ul>
</div>