<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><%= link_to root_path do %>Home<% end %></li>
        <li><%= link_to users_path do %>Administration<% end %></li>
        <li>Users</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h3"><%= t('headers.users') %></h1>
        </div>
        <div data-controller="user-list">
          <table class="table table-striped table-hover" data-controller="table-sort">
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Roles</th>
              <th>Organizations</th>
            </thead>
            <tbody>
              <% @users.each do |u| %>
                <tr>
                  <td><%= link_to u.name, user_path(u, :page => params[:page]) %></td>
                  <td><%= u.email %></td>
                  <td><%= u.roles.pluck(:name).join(', ').titleize %></td>
                  <td><%= u.organizations.pluck(:name).join(', ') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="apple_pagination">
            <%= will_paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>