
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
      <li>Initiate Registration</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->
    
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="border-bottom pb-2 mb-5"><i class="bi bi-envelope"></i> Initiate Registration</h5>

        <%= form_tag send_invite_path do %>
         <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6">
            <%= email_field_tag 'invitation_email', nil, class: 'form-control' %>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6 border-bottom pb-4">
            <%= submit_tag "Send Registration Email", :class => 'btn btn-outline-primary' %>
          </div>
        </div>

        <% end %>

      </div>
    </div>


  </div>
</section><!-- End Services Section -->