<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %>Home<% end %></li>
      <li><%= link_to admin_index_path do %>Administration<% end %></li>
      <li><%= link_to users_path(:page => params[:page]) do %>Users<% end%></li>
      <li><%= @user.name %></li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><%= @user.name.titleize %> Profile</h5>
        <%= render 'users/profile_navigation' %>
      </div>

      <div class="col-9">
        <div class="row pb-1">
          <!-- Tab v1 -->
          <div class="tab-v1">
            <nav>
              <ul class="nav nav-tabs pb-2">
                <li class="pe-4"><a href="#resources" class="active" data-bs-toggle="tab" data-bs-target="#resources">Contributions</a></li>
                <li class="pe-4"><a href="#organizations" data-bs-toggle="tab" data-bs-target="#organizations">Memberships</a></li>
              </ul>
            </nav>

            <div class="tab-content">
              <!--- CONTRIBUTIONS TAB --->
              <div class="tab-pane fade show active pb-2" id="resources">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="tab-v1">
                      <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#inner_resources" class="nav-link nav-link-large active" data-bs-toggle="tab" data-bs-target="#inner_resources">Resources</a><li>
                        <li class="nav-item"><a href="#inner_collections" class="nav-link nav-link-large  <%= @show_collections ? 'active' : ''%>" data-bs-toggle="tab" data-bs-target="#inner_collections">Collections</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="inner_resources" class="tab-pane show fade active">
                          <% @resources.each do |resource| %>
                            <% if !resource.private || resource.organization.can_add_collections(current_user) %>
                              <%= render resource %>
                            <% end %>
                          <% end %>

                          <%= will_paginate @resources, :param_name => 'resources_page' %>
                          <% if @resources.empty? %>
                            <% if @user == @current_user %> You have <% else %> This user has <% end %> no resources.
                          <% end %>
                        </div>

                        <div id="inner_collections" class="tab-pane show fade">
                          <% @collections.each do |collection| %>
                            <% if !collection.private || collection.organization.can_add_collections(current_user) %>
                              <%= render collection %>
                            <% end %>
                          <% end %>

                          <%= will_paginate @collections, :param_name => 'collections_page' %>
                          <% if @collections.empty? %>
                            <% if @user == @current_user %> You have <% else %> This user has <% end %> no collections.
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--- END CONTRIBUTIONS TAB --->
            
              <!--- MEMBERSHIPS TAB --->
              <div class="tab-pane fade" id="organizations">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="tab-v1">
                      <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#inner_organizations" class="nav-link nav-link-large active" data-bs-toggle="tab" data-bs-target="#inner_organizations">Organizations</a><li>
                        <li class="nav-item"><a href="#inner_cops" class="nav-link nav-link-large  <%= @show_collections ? 'active' : ''%>" data-bs-toggle="tab" data-bs-target="#inner_cops">Communities of Practice</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="inner_organizations" class="tab-pane show fade active">
                          <%= link_to "New Organization", new_organization_path, class: 'btn btn-outline-primary float-end' %>
                          <%= render partial: 'organizations/boxes', :param_name => 'organizations_page' %>
                          <% if @organizations.empty? %>
                            <% if @user == @current_user %> You are <% else %> This user is <% end %> not part of any organizations.
                          <% end %>
                        </div>

                        <div id="inner_cops" class="tab-pane show fade">
                          <ul class="list-group list-group-flush bg-transparent">
                            <% @cops.each do |cop| %>
                              <li class="list-group-item bg-transparent"><%= link_to cop.name, cop_path(cop) %></li>
                            <% end %>
                          </ul>
                          <% if @cops.empty? %>
                            <% if @user == @current_user %> You are <% else %> This user is <% end %> not part of any Communities of Practice.
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--- END MEMBERSHIPS TAB --->
            </div>
          </div>
        </div>
        <!-- End Tab v1 -->
      </div>
    </div>
  </div>
</section><!-- End About Section -->
