<p>Thank you for contributing to the Jordan Knowledge Management Portal (KaMP), the following resource you have uploaded has been approved.</p>

<p><strong><%= @submission.class.name %> Name: <% if @submission.is_a? Collection %><a href="<%= collection_url(@submission) %>"><%= @submission.title %></a><% end %>
  <% if @submission.is_a? Resource %><a href="<%= resource_url(@submission) %>"><%= @submission.name  %></a><% end %></strong></p>

<p>As a publicly available resource it can now be shared and downloaded.</p>

<p>If you need any further support please contact <a href="mailto:contact@jordankmportal.com">contact@jordankmportal.com</a>.</p>

<p> Best Regards,<br>
  Jordan KaMP
</p>