<p>The following <%= @submission.class.name %> has been uploaded to the Jordan Knowledge Management Portal (KaMP) under the organization <%= @organization_name %>:</p>

<p><strong><%= @submission.class.name %> Name: <% if @submission.is_a? Collection %><a href="<%= collection_url(@submission) %>"><%= @submission.title %></a><% end %>
  <% if @submission.is_a? Resource %><a href="<%= resource_url(@submission) %>"><%= @submission.name %></a><% end %></strong></p>

<p>You are receiving this notification because you are subscribed to updates from <%= @organization_name %>. To unsubscribe from this organization or otherwise manage your subscriptions, please visit your KaMP profile and click on the 'Subscriptions' tab. If you need any further support please contact <a href="mailto:contact@jordanmela.com">contact@jordanmela.com</a>.</p>

<p>Best regards,<br>
Jordan KaMP</p>
