  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">


          <!-- Slide 2 -->
          <div class="carousel-item active" style="background-image: url(/img/amman_bg_2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
              <div class="row">
                <div class="col-4 pt-5">
                  <div class="card card-body border-0 home-about-box">
                    <h2>Welcome to the <span>Jordan Knowledge Management Portal</span></h2>
                  
                    <div class="ps-5 pb-2">
                      This portal is a repository of development resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan.
                      <br/> <%= link_to raw('Read more  &raquo;'), about_index_path %> 
                    </div>
                  </div>
                </div>
                <div class="col-8 align-middle">
                  <div class="row <% if @announcements.length != 0 || @events.length != 0 %>small-home<% end %>">
                    <div class="col-6">
                      <div class="hero-box border-danger card">
                        <div class="card-body">
                          <h3 class="card-title text-danger pb-3">Find Resources</h3>
                          <p class="card-text">
                             <% if @search.nil? %>
                                <%  search = Search.new %>
                            <% else %>
                                <% search = @search %>
                            <% end %>
                            <%= render partial: 'searches/form', locals: { search: search } %>
                            <div class="row pt-4 d-flex align-items-center text-secondary">
                              <div class="col d-flex justify-content-center">
                                <%= Resource.all.count %> Resources
                              </div>
                              <div class="col d-flex justify-content-center text-secondary">
                                <%= Collection.all.count %> Collections
                              </div>
                            </div>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="hero-box border-success card">
                        <div class="card-body">
                          <%= render  'cops' %>
                        </div>
                      </div>
                    </div>
                  </div>
                   <div class="row <% if @announcements.length == 0 && @events.length == 0 %>small-home<% end %>">
                    <div class="col-6">
                      <% if @announcements.length != 0 %>
                        <%= render  'announcements' %>
                      <% end %>
                    </div>
                    <div class="col-6">
                      <% if @events.length != 0 %>
                        <%= render  'events' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
                
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <% @featured_searches.each do |fs| %>
            <div class="col">
              <div class="icon-box">
                <h3><a href="<%= fs.get_url %>">
                  <i class="<%= fs.icon_identifier %>"></i>
                  Learn About <br/>
                  <%= fs.name %>
                </a>
              </h3>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </section><!-- End Featured Section -->


  </main><!-- End #main -->