<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
      <li>Events</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->
    
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="row border-bottom">
      <div class="col-3">
        <h5><i class="bi bi-calendar-event"></i> Events</h5>
      </div>
      <div class="col-9">
        <% if @current_user %>
          <h5 class="float-end mt-n3 mb-0 pb-1">
          <%= mail_to 'kampadmin@jordanmela.com', name='Request New Event Posting', html_options = { subject: 'New Event Request', body: @new_event_request_email_body, class: 'btn btn-outline-primary mt-1 pt-2'} %>
        <% end %>
      </div>
    </div>

    <div class="row p-2 pb-4 border-bottom">

      <% @featured_events.each do |e| %>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box w-100">
            <h4><%= link_to e.name, show_event_path(e), data: { turbo_frame: "modal" } %></h4>
            <p><span class="text-muted">date: </span><%= e.start_date %></p>
            <p><span class="text-muted">location: </span><%= e.location %></p>
            <p><span class="text-muted">description: </span> <%= e.short_description %></p>
            <p><%= link_to "click for more", show_event_path(e), data: { turbo_frame: "modal" } %></p>
          </div>
        </div>
      <% end %>

    </div>

    <div class="row p-2">
      <div class="table-responsive">
          <table class="table table-hover" data-controller="table-sort">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.event.name')%></th>
                <th><%=t('activerecord.attributes.event.date') %></th>
                <th><%=t('activerecord.attributes.event.location') %></th>
                <th><%=t('activerecord.attributes.event.short_description') %></th>
              </tr>
            </thead>
            <tbody>
              <% @events.each do |e| %>
                <tr>
                  <td><%= link_to e.name, show_event_path(e), data: { turbo_frame: "modal" } %></td>
                  <td><%= e.start_date.strftime("%Y-%m-%d") %></td>
                  <td><%= e.location %></td>
                  <td><%= e.short_description %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>

  </div>
</section><!-- End Services Section -->