<%= simple_form_for(@resourcing, :html => { role: "form", multipart: true, class: "sky-form" }) do |f| %>
    <%= f.error_notification %>
    <% if @resourcing.errors.count > 0 %>
        <h4>Correct Errors Before Continuing</h4>
        <div class="bg-danger">
          <p>The following fields are mandatory or have errors in them.</p>
          <dl>
            <% @resourcing.errors.each do |attr,msg| %>
                <dd><%= msg.to_s %></dd>
            <% end %>
          </dl>
        </div>
    <% end %>

    <%= f.input :resourceable_id, :as => "hidden" %>
    <%= f.input :resourceable_type, :as => "hidden" %>

    <div class="border-bottom border-top bg-light p-2"><i class="fa fa-search"></i> Locate an existing resource that you want to include in this collection</div>
    <div  class="col-md-12 pb-2 pt-2">
      <%= f.label "Begin typing to search for a resource" %><br>
      <%= f.input_field :resource_id,
                      :label => false,
                      :id => "multiselect",
                      :as => :select,
                      :collection => Resource.where(organization_id: @coll.organization_id).or(Resource.where(private: false)).order(:name).collect {|r| [r.name, r.id]},
                      :multiple => false,
                      :class => "form-control",
                      data: {controller: "multiselect", placeholder: "Begin typing to search for a resource"} %>
    </div>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.button :submit, value: 'Add To Collection', class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>

    <div class="border-bottom border-top bg-light p-2"><i class="fa-regular fa-file"></i> Or create a new resource below</div>
    <%= f.fields_for :resource, @resource do |r| %>
      <%= render partial: 'resources/form_fields', locals: { f: r, resource: @resourcing.resource } %>
    <% end %>

    <div class="row p-2">
      <div class="col-md-12">
        <%= f.button :submit, value: 'Save New Resource', class: 'btn btn-outline-primary btn-sm' %>
      </div>
    </div>
<% end %>

