<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
      <li><%= link_to users_path do %><%=t('navigation.administration')%><% end %></li>
      <li><%= t('navigation.tags')%></li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><%=t('navigation.administration')%></h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="h5 border-bottom text-end pb-2 mb-0"><%= link_to t('navigation.new_tag'), new_tag_path, class: "btn btn-outline-primary mt-n3" %></div>
        <div class="table-responsive">
          <table class="table table-striped table-hover" data-controller="table-sort">
            <thead>
              <tr>
                <th><%=t('activerecord.attributes.tag.name') %></th>
                <th><%=t('activerecord.attributes.tag.type_name') %></th>
              </tr>
            </thead>
            <tbody>
              <% @tags.each do |t| %>
                <tr>
                  <td><%= link_to t.name, edit_tag_path(t) %></td>
                  <td><%= t.tag_type ? t.tag_type.name : ""%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>