<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
      <li>Sign In</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->
    
<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="border-bottom pb-2 mb-5"><i class="bi bi-box-arrow-in-right"></i> Sign in to your account</h5>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :class => 'reg-page' }) do |f| %>
         <%= devise_error_messages! %>
         <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6">
            <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email Address', id: 'email', title: 'Enter email address' %>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6">
            <%= f.password_field :password, class: 'form-control', id: "exampleInputPassword1", placeholder: "Password", title: "Enter Password", autocomplete: "off" %>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6 border-bottom pb-4">
            <%= f.submit 'Login', :class => 'btn btn-outline-primary' %>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6 border-bottom pb-4">
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6 border-bottom pb-4">
            <h6>Not Registered?</h6>
            <p> <%= link_to 'Request an Invite', request_invite_path, class: 'btn-u btn-u-blue btn-block text-center' %></p>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="form-outline mb-4 col-md-6 border-bottom pb-4">
            <h6>Forget Your Password ?</h6>
            <p>No worries, <%= link_to "click here to reset your password", new_password_path(resource_name), class: "color-blue" %>.</p>
          </div>
        </div>


        <% end %>

      </div>
    </div>


  </div>
</section><!-- End Services Section -->