<%= f.input :author_id, :as => "hidden" %>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :name %><br>
    <%= f.input_field :name, class: "form-control", id: 'name', placeholder: 'Enter Name', maxlength: 250 %>
  </div>
</div>

<% if !resource.attachment.blank? %>
  <div class="row p-2">
    <div class="col-md-12">
      <b>Current File</b><br>
      <%= link_to raw('<i class="fa fa-save"></i> ' + resource.attachment_file_name.truncate(20)), resource.attachment.url %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-12">
      <%= f.label :replace_file %><br>
      <%= f.input_field :attachment, class: "form-control", id: 'attachment', label: false,  data: { :"show-upload" => "false" } %>
    </div>
  </div>
<% else %>
  <div class="row p-2">
    <div class="col-md-12">
      <%= f.label :attachment %><br>
      <%= f.input_field :attachment, id: 'attachment', label: false,  data: { :"show-upload" => "false" } %>
    </div>
  </div>
<% end %>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :source %><br>
    <%= f.url_field :source, class: "form-control", id: 'source', placeholder: 'Enter Source URL' %>
  </div>
</div>

<%

   grouped_tags = {}
   TagType.all.order(:name).each do |category|
     category.tags.order(:name).each do |tag|
       grouped_tags[category.name] ||= []
       grouped_tags[category.name] << tag.name
     end
   end

%>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :tags %><br>
    <%= f.input_field :tags,
                      :label => false,
                      :id => "multiselect",
                      :as => :grouped_select,
                      :collection => grouped_tags,
                      :group_method => :last,
                      :multiple => true,
                      :class => "form-control",
                      data: {controller: "multiselect", placeholder: "Begin typing to search for tags"} %>
  </div>
</div>  

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :description %><br>
    <%= f.input_field :description, class: "form-control", id: 'description', label: false, placeholder: 'Give it a description' %>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :corporate_authorship %><br>
    <%= f.input_field :corporate_authorship, class: "form-control", label: false, placeholder: 'Authors/producers of this resource' %>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :issue_date %><br>
    <%= f.select :issue_date, (Date.today.year - 40..Date.today.year+2), {:include_blank => true }, {class: 'form-select'}  %>
  </div>
</div>

<div class="row p-2">
  <div class="col-md-12">
    <%= f.label :language %><br>
    <%= f.input_field :language, class: "form-control", label: false, placeholder: 'Choose a language', include_blank: false %>
  </div>
</div>

<% if current_user.organizations.count > 1 && resource.id.nil? %>
  <div class="row p-2">
    <div class="col-md-12">
      <%= f.label :organization %><br>
      <%= f.select :organization_id, current_user.organizations.all.collect {|x| [x.name, x.id]}, {:include_blank => true }, {class: 'form-select'} %>
    </div>
  </div>
<% elsif current_user.organizations.count == 1 && resource.id.nil? %>
    <%= f.input_field :organization_id, :value => current_user.organizations.first.id, :as => "hidden" %>
<% end %>

<div class="row p-2">
  <div class="col-md-12">
    <div class="form-check form-switch pt-2">
      <%= f.check_box :private, class: "form-check-input", role: "switch" %>
      <%= f.label "Mark as a private resource that can only be accessed by users in my organization", class: "form-check-label" %>
    </div>
  </div>
</div>

<%  if current_user.cops.length != 0 %>
  <div class="card m-3">
    <div class="card-header">
      COP-specific fields
    </div>
    <div class="card-body">
      <div class="row p-2">
        <div class="col-md-12">
          <%= f.label :cop %><br>
          <%= f.select :cop_id, current_user.cops.collect {|a| [a.name, a.id]}, {include_blank: "Select One (optional)"}, { :class => "form-control" } %>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-md-12">
          <div class="form-check form-switch pt-2">
            <%= f.check_box :private, class: "form-check-input", role: "switch" %>
            <%= f.label "Mark as a private resource that can only be accessed by users in my organization", class: "form-check-label" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



