<%= simple_form_for(resource, :html => { role: "form", multipart: true }, data: { turbo: false }) do |f| %>
    <% if !destination.blank? %>
        <input type="hidden" name="destination" value="<%= destination %>">
    <% end %>

    <div>
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@resource.errors.count, t('errors.error')) %>
          <%= t('errors.prohibited') %>
        </h2>
        <ul>
          <% @resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <%= render partial: 'resources/form_fields', locals: { f: f, resource: @resource } %>

      <div class="row p-2">
        <div class="col-md-12">
          <%= f.button :submit, class: 'btn btn-outline-primary btn-sm', value: 'Save & Add Another' if resource.id.blank? %>
          <%= f.button :submit, class: 'btn btn-outline-primary btn-sm', value: 'Save' %>
        </div>
      </div>

    </div>
<% end %>

