
 <% if !resource.private || resource.organization.can_add_collections(current_user) %>
    <% str_title = resource.name.truncate(55) %>
    <% if resource.private == true %>
        <% str_title = str_title + ' <i class="fa fa-lock"></i>' %>
    <% end %>
     <%
        header_text = "" + str_title

        if resource.private == 1
          header_text = header_text + " <i class='fa fa-lock'></i>"
        end

        header_text = header_text + ""
     %>
     <div class="tag-box tag-box-v2 margin-bottom-20 well well-sm">
           <!-- Begin Inner Results -->
       <h2 class='headline-sm'><%= link_to raw(header_text), resource_path(resource) %></h2>
       <% if !resource.collection.nil? %>
           <ul class="list-inline up-ul">
             <li><i class="fa fa-files-o" rel="tooltip" title="This Resource is part of a Collection"></i> <%= link_to resource.collection.title, collection_path(resource.collection) %></li>
           </ul>
       <% end %>
       <ul class="list-inline">
         <li><%= resource.resource_type %></li>
         <li>
           <%= raw('<span class="text-muted"><i class="fa fa-language"></i> English</span>') if resource.language == 'english' %>
           <%= raw('<span class="text-muted"><i class="fa fa-language"></i> Arabic</span>') if resource.language == 'arabic' %>

         </li>
         <li>
           <%= raw resource.tag_list[0..2].map { |t| link_to raw('<i class="fa fa-tag"></i> ' + t), update_search_path(:tags=>[t]), class: 'text-highlights rounded' }.join('</li><li>') %>
           <%= link_to raw('...more</li>'), resource_path(resource) if resource.tag_list.size > 4 %>
           <%= raw('</li>') if resource.tag_list.size <= 4 %>

       </ul>
       <%= simple_format resource.description.truncate(200) %>
       <ul class="list-inline down-ul">
         <% if resource.collections.count > 0 %>
         <li><%= resource.collections.count %> Collection<% if resource.collections.count > 1 %>s<% end %></li>
         <% end %>
        <% if !resource.issue_date.nil? and !resource.issue_date.blank? %>
             <li>Issued on <%= resource.issue_date %>.</li>
           <% end %>
         <li>Uploaded <%= time_ago_in_words resource.created_at %> ago</li>
         <li><%= link_to resource.organization.name, organization_path(resource.organization) if !resource.organization.nil? %> (<%= link_to resource.author.name, user_path(resource.author) if !resource.author.nil? %>)</li>
       </ul>
     </div>

 <% end %>
