<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li><%= link_to search_path(session[:last_search_id]) do %>Search<% end %></li>
          <li>Resource</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

   <div class="row">
     <div class="col-3 border-end">
      <div class="row border-bottom pb-2 me-1">
        <div class="col fs-5"><i class="bi bi-file-earmark"></i> Resource</div>
        <div class="col d-flex flex-row-reverse available-tags">
          <% if @resource.can_edit(@current_user) || (can? :approve, @resource and @resource.approved != true) %>
            <div class="dropdown">
              <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu">
              <% if @resource.can_edit(current_user) %>
                <li><%= link_to "Edit Resource", edit_resource_path(@resource), class: "dropdown-item" %></li>
              <% end %>
              <% if can? :delete, @resource or can? :moderate, @resource %>
                  <li><%= link_to "Delete", @resource, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "dropdown-item" %></li>
              <% end %>
              <% if can? :approve, @resource and !@resource.approved %>
                <li><%= link_to "Approve Resource", approve_submission_path(:submission_id => @resource.id, :submission_type => "resource"), :class => "dropdown-item" %></li>
                <li><%= link_to "Deny Submission", denial_submission_path(:submission_id => @resource.id, :submission_type => "resource"), :class => "dropdown-item" %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
        <ul class="list-group list-group-flush bg-transparent">
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Language</div>
            <div class="ms-3"><%= @resource.language.titlecase %></div>
          </li>
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Resource Type</div>
            <div class="ms-3">
              <%= @resource.resource_type %>
            </div>
          </li>
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Uploaded By</div>
            <div class="ms-3">
              <%= link_to organization_path(@resource.organization) do %><%= @resource.organization.name %><% end %>
            </div>
          </li>
          <li class="list-group-item bg-transparent text-muted">
            <div class="text-danger">Date Added</div>
            <div class="ms-3">
              <%= @resource.created_at.strftime("%Y-%m-%d") %>
            </div>
          </li>
          <% if @resource.corporate_authorship && @resource.corporate_authorship.length > 0 %>
            <li class="list-group-item bg-transparent text-muted">
              <div class="text-danger">Corporate Authorship</div>
              <div class="ms-3">
                <%= @resource.corporate_authorship %>
              </div>
            </li>
          <% end %>
          <% if @resource.collections.count > 0 %>
            <li class="list-group-item bg-transparent text-muted">
              <div class="text-danger">Collections</div>
              <ul class="list-group list-group-flush bg-transparent">
                <% @resource.collections.each do |collection| %>
                  <li class="list-group-item bg-transparent "><%= link_to collection do %><%= collection.title %><% end %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if @related_resources %>
            <li class="list-group-item bg-transparent text-muted">
              <div class="text-danger">Related Resources</div>
              <ul class="list-group list-group-flush bg-transparent">
                <% @related_resources.each do |resource| %>
                  <li class="list-group-item bg-transparent"><%= link_to resource do %><%= resource.name %><% end %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
     </div>
     <div class="col-9">
      <div class="border-bottom pb-2"><span class="fs-5"><%= @resource.name %> &nbsp;</span></div>
      <div class="border-bottom fw-light bg-light bg-gradient p-2 pt-3">
        <% if !@resource.attachment.blank? %>
          <h6><%= link_to download_resource_path(:id => @resource.url), title: "Filename of resource", target: "_blank" do %><i class="bi bi-download"></i> <%= @resource.attachment_file_name %><% end %></h6>
        <% end %>
        <% if !@resource.source.blank? %>
          <h6><%= link_to @resource.source, title: "Source of resource", target: "_blank" do %><i class="bi bi-link"></i> <%= @resource.source %><% end %></h6>
        <% end %>
       </div>
       <% if @resource.tags.count > 0 %>
        <div class="p-2">
          <% @resource.tags.each do |tag| %>
            <a href="<%= new_search_path(:tags => [tag.id]) %>" class="badge rounded-pill bg-dark dark-badge-link" href="#"><i class="fa fa-tags"></i> <%= tag.name %></a>
          <% end %>
        </div>
       <% end %>
       <div class="card text-bg-light m-2">
        <div class="card-body">
          <%= simple_format @resource.description %>
        </div>
      </div>


       
       <div class="mt-2">
        
       </div>
     </div>
   </div>

  </div>
</section><!-- End About Section -->