
<% content_for :title do %><%= @resource.name %><% end %>
<% content_for :description do %><%= Sanitize.fragment(@resource.description, Sanitize::Config::RELAXED) if !@resource.description.nil? and !@resource.description.blank? %><% end %>
<% content_for :author do %><%= @resource.author %><% end %>
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page blog-item">
    <div class="headline"><h2><i class="fa fa-file"></i> <%= @resource.name %></h2></div>
        <!-- Left Sidebar -->
    <div class="col-sm-3">
      <p><!-- AddToAny BEGIN -->
          <a class="a2a_dd" href="https://www.addtoany.com/share"><img src="https://static.addtoany.com/buttons/share_save_256_24.png" width="256" height="24" border="0" alt="Share"/></a>
          <script async src="https://static.addtoany.com/menu/page.js"></script>
      </p>
      <!-- AddToAny END -->
      <% if !@resource.collection.nil? %>

          <div class="thumbnails thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden">
                <% if @resource.collection.image.blank? or  @resource.collection.image.nil? %>
                <% else %>
                    <img class="img-responsive" src="<%= @resource.collection.image.expiring_url(10) %>" alt="<%= @resource.collection.title %>" />
                    <%= link_to "View Collection +", collection_path(@resource.collection), class: 'btn-more hover-effect' %>
                <% end %>
              </div>
            </div>
          </div>

      <% end %>
      <% if !session[:last_search_id].nil? %>
          <p>
              <%= link_to search_path(session[:last_search_id]) do %>
              <i class="fa fa-chevron-left"></i> Return to Search Results
              <% end %>
            </p>
      <% end %>
      <%= render partial: 'resource_details_column', locals: { resource: @resource } %>
      <div class="row-fluid well well-sm">
        <div class="widget-box">
          <div class="widget-header">
            <h5 class="widget-title smaller"><i class="fa fa-file"></i> Related Resources</h5>
          </div>

          <div class="widget-body">
            <div class="widget-main padding-6">
              <ul>
                <% @related_resources.each do |resource| %>
                    <li><%= link_to resource.name.truncate(50), resource %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div><!--/span3-->

    <!-- Right Sidebar -->
    <div class="col-sm-9">
      <div class="blog margin-bottom-30">

        <% if !@resource.approved %>
            <div class="alert alert-warning fade in">
              <strong>Pending Approval</strong> Our moderators have not yet approved this resource. It will not show up in searches or to members outside your organization
            </div>
        <% end %>

        <% if @resource.collection.blank? or @resource.collection.resources.count < 2 %>

            <div class="well well-xs">
              <!-- AddToAny BEGIN -->
              <div class="a2a_kit a2a_kit_size_32 a2a_default_style pull-right margin-left-10">
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <a class="a2a_button_email"></a>
              </div>
              <script async src="https://static.addtoany.com/menu/page.js"></script>
              <!-- AddToAny END -->
              <% if !@resource.attachment.blank? %>
                  <div class="button-group">
                    <%= link_to download_resource_path(:id => @resource.url), class: 'btn btn-success pull-right rounded', id: 'download_button', title: "Download This Resource", target: "_blank" do %>
                        <i class="fa fa-download"></i> Download
                    <% end %>
                    <% if @resource.resource_type != "other" and @resource.resource_type != "Document" and !@resource.attachment.blank? and @resource.resource_type != "GeoJSON" %>

                        <a class="btn btn-primary pull-right rounded margin-right-10" id="jumptopreview" data-toggle="modal" data-target=".bs-example-modal-sm"> <i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="Jump to Preview"></i> Preview</a>

                    <% elsif @resource.resource_type == "geojson" || @resource.resource_type == "GeoJSON" %>
                        <a class="btn-u btn-primary pull-right rounded margin-right-10" id="showmap" href="<%= resource_preview_path(@resource) %>" target="_blank"><i class="fa fa-eye"></i> Preview</a>

                    <% end %>
                   </div>
                  <h4><i class="fa fa-file"></i> <%= link_to @resource.attachment_file_name.truncate(120), download_resource_path(:id => @resource.url), title: "Filename of resource", target: "_blank" %></h4>
              <% end %>

              <% if !@resource.source.blank? %>
                  <strong>Source URL:</strong>
                  <%= link_to @resource.source, target: "_blank" do %><i class="fa fa-link"></i> <%= @resource.source %><% end %>
              <% end %>
            </div>
            <% if @resource.tags.count > 0 %>
                <p class="fsize16"> Tags:
                  <% @resource.tags.each do |tag| %>
                      <a href="<%= new_search_path(:tags => [tag.name]) %>" class="label label-default light rounded" href="#"><i class="fa fa-tags"></i> <%= tag.name %></a>
                  <% end %>
                </p>
            <% end %>
                <% if !@resource.description.blank? %>
                <div class="row-fluid panel panel-default">
                  <div class="panel-body">
                    <%= simple_format @resource.description %>
                  </div>
                </div>
            <% end %>

        <% end %>

        <% if @show_feedback %>
          <p class="text-center">Is this resource helpful? <%= link_to rate_resource_path(:id => @resource.url, :positive => "1", :negative => "0") do %><i class="fa fa-thumbs-up"></i> Yes<% end %> | <%= link_to rate_resource_path(:id => @resource.url, :positive => "0", :negative => "1") do %><i class="fa fa-thumbs-down"></i> No<% end %></p>
        <% end %>

        <%= render partial: 'resource_preview', locals: { resource: @resource } %>
      </div><!--/blog-->

    </div><!--/span9-->


  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

<div class="modal fade bs-survey-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <h2>Thanks for Downloading</h2>
        <p>We hope you found this resource useful. Please take a minute to tell us how we're doing by taking a brief 3-question survey.</p>
        <p>
          <a class="btn-u btn-u-xs btn-u-blue" id="survey_button" href="<%= survey_index_url %>?return_resource=<%= @resource.url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
        </p>
      </div>
    </div>
  </div>
</div>


<% content_for :page_javascript do %>
    <script>

        function createCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name,"",-1);
        }

        $(document).ready(function () {
            $('#jumptopreview').click(function() {
                $('html, body').animate({
                    scrollTop: $("#previewbox").offset().top - 100
                }, 400);
            });

            $('.extra-description').hide();

            $('.toggle-extra-description').live('click',function() {
                $('.extra-description').slideToggle("slow", function(){ });
            });

            $('#download_button').click(function() {
                var cookie_data = readCookie('survey_prompt');
                var show_modal = false;
                if(cookie_data) {
                    var updated_count = parseInt(cookie_data) + 1;
                    if(parseInt(cookie_data) % 3 == 0) {
                        show_modal = true;
                    }
                    createCookie('survey_prompt',updated_count,10);
                }
                else {
                    createCookie('survey_prompt','1',10);
                    show_modal = true;

                }
                if(show_modal) {
                    $.ajax({

                        url : '<%= log_event_url %>',
                        type : 'GET',
                        data : {
                            'model' : 'Resource',
                            'model_id': '<%= @resource.id.to_s %>',
                            'event': 'Survey Offered'
                        },
                        dataType:'json'
                    });
                    $('.bs-survey-modal-sm').modal("show");
                }
            });

            $('#survey_button').click(function() {
                $.ajax({

                    url : '<%= log_event_url %>',
                    type : 'GET',
                    data : {
                        'model' : 'Resource',
                        'model_id': '<%= @resource.id.to_s %>',
                        'event': 'Survey Accepted'
                    },
                    dataType:'json'
                });
            });

        });

    </script>
<% end %>
