
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
        <li><%= link_to admin_index_path do %><%=t('navigation.administration')%><% end %></li>
        <li>Denial Reasons</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><i class="bi bi-dash-circle"></i> Denial Reasons</h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="h5 border-bottom text-end mt-n3 mb-0 pb-1"><%= link_to 'New Denial reason', new_denial_reason_path, class: "btn btn-outline-primary mt-1 pt-2" %></div>
        <table class="table table-striped table-hover" data-controller="table-sort">
          <thead>
          <tr>
            <th>Reason</th>
          </tr>
          </thead>

          <tbody>
          <% @denial_reasons.each do |denial_reason| %>
              <tr>
                <td><%= link_to denial_reason.reason, edit_denial_reason_path(denial_reason) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section><!-- End About Section -->









