

<%
   # check for existing tags in query string
  existing_tag_facets = []
  if params[:tags].present?
    existing_tag_facets = params[:tags]
  end

  @tag_facet_links_off = ''
  tag_facet_links_off_counter = 1
  @tag_facet_links_on = ''


%>

<ul class="nav nav-tabs" id="tagsTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button" role="tab" aria-controls="tags" aria-selected="true">Tags</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="orgs-tab" data-bs-toggle="tab" data-bs-target="#orgs" type="button" role="tab" aria-controls="orgs" aria-selected="false">Organizations</button>
  </li>
</ul>
<div class="tab-content pt-2" id="tagsTabContent">
  <div class="tab-pane fade show active" id="tags" role="tabpanel" aria-labelledby="tags-tab">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <%  
        @tags.each_key do |tag_type| 
        @tags[tag_type].sort_by! { |hsh| hsh["name"] }
      %>
        <% if @tags[tag_type].length > 0 %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading<%= tag_type %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= tag_type.parameterize(separator: '_') %>" aria-expanded="false" aria-controls="flush-collapse<%= tag_type %>">
                <%= tag_type %>
              </button>
            </h2>
            <div id="flush-collapse<%= tag_type.parameterize(separator: '_') %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= tag_type %>" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul class="list-unstyled ps-2">
                  <% @tags[tag_type].each do |t|  %>
                    <% if !existing_tag_facets.include? t["id"].to_s %>
                      <li class='available-tags pb-1'><%= link_to t["name"], update_search_path(request.parameters.merge(:tags => existing_tag_facets + [t["id"].to_s])) %> (<%= t["tag_count"] %>) </li>
                    <% 
                      else 
                        @tag_facet_links_on << "<span class='badge rounded-pill bg-secondary dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => existing_tag_facets - [t["id"].to_s]))}</span> &nbsp;"
                    %>
                      <li class='selected-tags pb-1'><%= link_to raw("<i class='fa fa-times'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => existing_tag_facets - [t["id"].to_s])) %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="orgs" role="tabpanel" aria-labelledby="orgs-tab">
    <div class="pt-3">
      <%= render partial: 'collections/facet_org' %>
    </div>
  </div>
</div>



