

<%
   # check for existing tags in query string
  if !params[:tags].present?
    params[:tags] = []
  end

  @selected_tags = ''

  if params[:query].present?
    @selected_tags << "<span class='badge rounded-pill bg-danger dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> '" + params[:query] + "'"), update_search_path(request.parameters.merge(:query => "").merge(:tags => params[:tags]).merge(:organization_id => params[:organization_id]))}</span> &nbsp;"
  end

  if @organization
    @selected_tags << "<span class='badge rounded-pill bg-primary dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + @organization.name), update_search_path(request.parameters.merge(:organization_id => "").merge(:tags => params[:tags]))}</span> &nbsp;"
  end
%>

<ul class="nav nav-tabs" id="tagsTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link <% if !@organization %> active<% end %>" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button" role="tab" aria-controls="tags" aria-selected="true">Tags</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <% if @organization %> active<% end %>" id="orgs-tab" data-bs-toggle="tab" data-bs-target="#orgs" type="button" role="tab" aria-controls="orgs" aria-selected="false">Organizations</button>
  </li>
</ul>
<div class="tab-content pt-2" id="tagsTabContent">
  <div class="tab-pane fade <% if !@organization %> show active<% end %>" id="tags" role="tabpanel" aria-labelledby="tags-tab">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <%  
        @tags.each_key do |tag_type| 
        @tags[tag_type].sort_by! { |hsh| hsh["name"] }
      %>
        <% if @tags[tag_type].length > 0 %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading<%= tag_type %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= tag_type.parameterize(separator: '_') %>" aria-expanded="false" aria-controls="flush-collapse<%= tag_type %>">
                <%= tag_type %>
              </button>
            </h2>
            <div id="flush-collapse<%= tag_type.parameterize(separator: '_') %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= tag_type %>" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body pb-0">
                <ul class="list-unstyled ps-2">
                  <% @tags[tag_type].each do |t|  %>
                    <% if !params[:tags].include? t["id"].to_s %>
                      <li class='available-tags pb-1'><%= link_to t["name"], update_search_path(request.parameters.merge(:tags => params[:tags] + [t["id"].to_s]).merge(:organization_id => @organization ? @organization.id : "")) %> (<%= t["tag_count"] %>) </li>
                    <% 
                      else 
                        @selected_tags << "<span class='badge rounded-pill bg-secondary dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => params[:tags] - [t["id"].to_s]).merge(:organization_id => @organization ? @organization.id : ""))}</span> &nbsp;"
                    %>
                      <li class='selected-tags pb-1'><%= link_to raw("<i class='fa fa-times'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => params[:tags] - [t["id"].to_s])) %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade <% if @organization %> show active<% end %>" id="orgs" role="tabpanel" aria-labelledby="orgs-tab">
    <div class="pt-3">
      <% if @organization %>
        <% if !@organization.logo.blank? %>
          <%= link_to organization_path(@organization) do %>
              <%= image_tag @organization.logo.expiring_url(10), class: "img-responsive" %>
          <% end %>
      <% end %>
      <strong><%= link_to @organization.name, organization_path(@organization) %></strong>
      <% if !@organization.organization_type.blank? %>
          <p>Organization Type:<br>
            <%= @organization.organization_type.organization_type %></p>
      <% end %>
        <%= link_to url_for(update_search_path(request.parameters.merge(:organization_id => params[:organization_id] = "").merge(:tags => params[:tags]))), class: 'pull-right' do %>
            <i class="fa fa-times-circle"></i> reset filter
        <% end %>
    <% else %>
        <ul class="list-group list-group-flush">
          <% @orgs.each do |o| %>
            <li class="list-group-item available-tags">
              <%= link_to o["name"], update_search_path(request.parameters.merge(:organization_id => o["id"]).merge(:tags => params[:tags]).except(:page)) %> (<%= o["org_count"] %>) 
            </li>
          <% end %>
        </ul>
    <% end %>
    </div>
  </div>
</div>



