

<%
   # check for existing tags in query string
  if !params[:tags].present?
    params[:tags] = []
  end

  @selected_tags = ''

  if params[:query].present?
    @selected_tags << "<span class='badge rounded-pill bg-danger dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> '" + params[:query] + "'"), update_search_path(request.parameters.merge(:query => "").merge(:days_back => @days_back ? @days_back : "").merge(:language => @language ? @language : "").merge(:tags => params[:tags]).merge(:organization_id => @organization ? @organization.id : "").merge(:cop_id => @cop ? @cop.id : ""))}</span> &nbsp;"
  end

  if @organization
    @selected_tags << "<span class='badge rounded-pill bg-primary dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + @organization.name), update_search_path(request.parameters.merge(:organization_id => "").merge(:days_back => @days_back ? @days_back : "").merge(:language => @language ? @language : "").merge(:cop_id => @cop ? @cop.id : "").merge(:tags => params[:tags]))}</span> &nbsp;"
  end

  if @language
    @selected_tags << "<span class='badge rounded-pill bg-dark dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + @languages[@language.to_sym]), update_search_path(request.parameters.merge(:language => "").merge(:days_back => @days_back ? @days_back : "").merge(:organization_id => @organization ? @organization.id : "").merge(:cop_id => @cop ? @cop.id : "").merge(:tags => params[:tags]))}</span> &nbsp;"
  end

  if @days_back
    @selected_tags << "<span class='badge rounded-pill bg-warning dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + @days_backs[@days_back.to_i]), update_search_path(request.parameters.merge(:days_back => "").merge(:language => @language ? @language : "").merge(:organization_id => @organization ? @organization.id : "").merge(:cop_id => @cop ? @cop.id : "").merge(:tags => params[:tags]))}</span> &nbsp;"
  end

  if @cop
    @selected_tags << "<span class='badge rounded-pill bg-info dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + @cop.name), update_search_path(request.parameters.merge(:cop_id => "").merge(:days_back => @days_back ? @days_back : "").merge(:language => @language ? @language : "").merge(:organization_id => @organization ? @organization.id : "").merge(:tags => params[:tags]))}</span> &nbsp;"
  end
%>

<ul class="nav nav-tabs" id="tagsTab" role="tablist">
  <li class="nav-item" role="presentation" data-intro="To filter by Tags, first click a caret next to a Tag Type to expand the list of related Tags, then check any boxes you like." data-position="left">
    <button class="nav-link <% if @last_filter_choice == 'tags' || nil %> active <% end %>" id="tags-tab" data-bs-toggle="tab" data-bs-target="#tags" type="button" role="tab" aria-controls="tags" aria-selected="true">Tags</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <% if @last_filter_choice == 'orgs' %> active <% end %>" id="orgs-tab" data-bs-toggle="tab" data-bs-target="#orgs" type="button" role="tab" aria-controls="orgs" aria-selected="false">Organizations</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <% if @last_filter_choice == 'cops' %> active <% end %>" id="cops-tab" data-bs-toggle="tab" data-bs-target="#cops" type="button" role="tab" aria-controls="cops" aria-selected="false">COPs</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link <% if @last_filter_choice == 'other' %> active <% end %>" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button" role="tab" aria-controls="other" aria-selected="false">Other</button>
  </li>
</ul>
<div class="tab-content pt-2" id="tagsTabContent">
  <div class="tab-pane fade <% if @last_filter_choice == 'tags' %> show active <% end %>" id="tags" role="tabpanel" aria-labelledby="tags-tab">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <%  
        @tags.each_key do |tag_type| 
        @tags[tag_type].sort_by! { |hsh| hsh["name"] }
      %>
        <% if @tags[tag_type].length > 0 %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading<%= tag_type %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= tag_type.parameterize(separator: '_') %>" aria-expanded="false" aria-controls="flush-collapse<%= tag_type %>">
                <%= tag_type %>
              </button>
            </h2>
            <div id="flush-collapse<%= tag_type.parameterize(separator: '_') %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= tag_type %>" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body pb-0">
                <ul class="list-unstyled ps-2">
                  <% @tags[tag_type].each do |t|  %>
                    <% if !params[:tags].include? t["id"].to_s %>
                      <li class='available-tags pb-1'><%= link_to raw("<i class='fa-regular fa-square'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => params[:tags] + [t["id"].to_s]).merge(:organization_id => @organization ? @organization.id : "").merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : "").merge(:cop_id => @cop ? @cop.id : "")) %> (<%= t["tag_count"] %>) </li>
                    <% 
                      else 
                        @selected_tags << "<span class='badge rounded-pill bg-secondary dark-badge-link'>#{link_to raw("<i class='fa fa-times'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => params[:tags] - [t["id"].to_s]).merge(:organization_id => @organization ? @organization.id : "").merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : "").merge(:cop_id => @cop ? @cop.id : ""))}</span> &nbsp;"
                    %>
                      <li class='available-tags pb-1'><%= link_to raw("<i class='fa-regular fa-square-check'></i> " + t["name"]), update_search_path(request.parameters.merge(:tags => params[:tags] - [t["id"].to_s]).merge(:organization_id => @organization ? @organization.id : "").merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : "").merge(:cop_id => @cop ? @cop.id : "")) %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade <% if @last_filter_choice == 'orgs' %> show active <% end %>" id="orgs" role="tabpanel" aria-labelledby="orgs-tab">
    <div class="pt-3 available-tags">
      <ul class="list-group list-group-flush">
        <% if @organization %>
          <li class="list-group-item available-tags">
            <%= link_to raw("<i class='fa-regular fa-square-check'></i> " + @organization.name), url_for(update_search_path(request.parameters.merge(:organization_id => "").merge(:cop_id => @cop ? @cop.id : "").merge(:tags => params[:tags]).merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : ""))) %>
          </li>
        <% else %>
          <% @orgs.each do |o| %>
            <li class="list-group-item available-tags">
              <%= link_to raw("<i class='fa-regular fa-square'></i> " + o["name"]), update_search_path(request.parameters.merge(:organization_id => o["id"]).merge(:cop_id => @cop ? @cop.id : "").merge(:tags => params[:tags]).merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : "").except(:page)) %> (<%= o["org_count"] %>)
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-pane fade <% if @last_filter_choice == 'cops' %> show active <% end %>" id="cops" role="tabpanel" aria-labelledby="cops-tab">
    <div class="available-tags pt-3">
      <ul class="list-group list-group-flush">
        <% if @cop %>
          <li class="list-group-item available-tags">
            <%= link_to raw("<i class='fa-regular fa-square-check'></i> " + @cop.name), url_for(update_search_path(request.parameters.merge(:cop_id => "").merge(:organization_id => @organization ? @organization.id : "").merge(:tags => params[:tags]).merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : ""))) %>
          </li>
        <% else %>
          <% @cops.each do |c| %>
            <li class="list-group-item available-tags">
              <%= link_to raw("<i class='fa-regular fa-square'></i> " + c["name"]), update_search_path(request.parameters.merge(:cop_id => c["id"]).merge(:organization_id => @organization ? @organization.id : "").merge(:tags => params[:tags]).merge(:language => @language ? @language : "").merge(:days_back => @days_back ? @days_back : "").except(:page)) %> (<%= c["cop_count"] %>)
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="tab-pane fade <% if @last_filter_choice == 'other' %> show active <% end %>" id="other" role="tabpanel" aria-labelledby="other-tab">
    <div class="pt-3">
      Language:
      <ul class="list-group list-group-flush">
        <% if @language %>
          <li class="list-group-item available-tags">
            <%= link_to raw("<i class='fa-regular fa-square-check'></i> " + @languages[@language.to_sym]), url_for(update_search_path(request.parameters.merge(:language => params[:language] = "").merge(:tags => params[:tags]).merge(:organization_id => @organization ? @organization.id : "").merge(:days_back => @days_back ? @days_back : "").merge(:cop_id => @cop ? @cop.id : ""))) %>
          </li>
        <% else %>
          <% @languages.each_key do |l| %>
            <li class="list-group-item available-tags">
              <%= link_to raw("<i class='fa-regular fa-square'></i> " + @languages[l]), update_search_path(request.parameters.merge(:language => l).merge(:tags => params[:tags]).merge(:organization_id => @organization ? @organization.id : "").merge(:days_back => @days_back ? @days_back : "").merge(:cop_id => @cop ? @cop.id : "").except(:page)) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="pt-3">
      Uploaded/Updated:
      <ul class="list-group list-group-flush">
        <% if @days_back %>
          <li class="list-group-item available-tags">
            <%= link_to raw("<i class='fa-regular fa-square-check'></i> " + @days_backs[@days_back.to_i]), url_for(update_search_path(request.parameters.merge(:days_back => params[:days_back] = "").merge(:language => @language ? @language : "").merge(:tags => params[:tags]).merge(:organization_id => @organization ? @organization.id : "").merge(:cop_id => @cop ? @cop.id : ""))) %></p>
          </li>
        <% else %>
          <% @days_backs.each_key do |d| %>
            <li class="list-group-item available-tags">
              <%= link_to raw("<i class='fa-regular fa-square'></i> " + @days_backs[d]), update_search_path(request.parameters.merge(:days_back => d).merge(:language => @language ? @language : "").merge(:tags => params[:tags]).merge(:organization_id => @organization ? @organization.id : "").merge(:cop_id => @cop ? @cop.id : "").except(:page)) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>



