<% content_for :title do %>Search Portal<% end %>
<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3">
  <div class="container">
    <h1 class="pull-left">Search Portal</h1>
  </div>
</div>
<!--=== End Breadcrumbs v3 ===-->

<!--=== Search Results ===-->
<div class="container s-results margin-bottom-50">
  <div class="row">
    <div class="col-xs-12 col-md-2 related-search">
      <div class="headline"><h4>FILTER BY</h4></div>
      <div class="row">
      <%= render partial: 'searches/filters' %>
      </div>
    </div><!--/col-md-2-->
  
    <div class="col-xs-12 col-md-10">
      <p class="pull-right padding-top-5"><%= link_to survey_index_path do %><span class="label label-info rounded"><i class="fa fa-asterisk"></i> Find this useful? Take our survey</span><% end %></p>
      <span class="results-number"><strong><%= @resource_count %></strong> resources found. Showing most recently updated.</span>
      <div class="tab-v2">
        <ul class="nav nav-tabs">
          <li class="<%= !@show_collections ? 'active' : ''%>"><a data-toggle="tab" href="#resources">Resources</a></li>
          <li class="<%= @show_collections ? 'active' : ''%>"><a data-toggle="tab" href="#collections">Collections</a></li>
        </ul>
        <div class="tab-content">
          <div id="resources" class="tab-pane fade in <%= !@show_collections ? 'active' : ''%>">
            <%=  render partial: 'searches/show_filters'  %>
            <% if @resources.count > 0 %> 
                <% @resources.each do |resource| %>
                    <%= render resource %>
                <% end %>
                <%= will_paginate @resources %>
            <% else %>
                <blockquote><i class="fa fa-thumbs-down"></i> No resources found with that combination</blockquote>
                <div class="alert alert-info fade in">
                  <h4>Let Us Know What We're Missing</h4>
                  <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP</p>
                  <p>
                    <a class="btn-u btn-u-xs btn-u-blue" href="<%= survey_index_url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
                  </p>
                </div>
            <% end %>
          </div>
          <div id="collections" class="tab-pane fade in <%= @show_collections ? 'active' : ''%>">
            <% if @collections.count > 0 %>
                <% @collections.each do |resource| %>
                    <%= render resource %>
                <% end %>
                <%= will_paginate @collections, :param_name => 'collection_page' %>
            <% else %>
                <blockquote><i class="fa fa-thumbs-down"></i> No collections found with that combination</blockquote>
                <div class="alert alert-info fade in">
                  <h4>Let Us Know What We're Missing</h4>
                  <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP</p>
                  <p>
                    <a class="btn-u btn-u-xs btn-u-blue" href="<%= survey_index_url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
                  </p>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/container-->
<!--=== End Search Results ===-->

<div class="modal fade bs-survey-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <h2>Found What You Were Looking For?</h2>
        <p>We hope you found this portal useful. Please take a minute to tell us how we're doing by taking a brief 3 question survey.</p>
        <p>When you are done you will be returned to this page.</p>
        <p>
          <a class="btn-u btn-u-xs btn-u-blue" id="survey_button" href="<%= survey_index_url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
        </p>
      </div>
    </div>
  </div>
</div>


