<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li>Search</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

   <div class="row">
     <div class="col-3 border-end">
      <h5 class="border-bottom pb-2">Filter By <%= @search_terms %></h5>
        <%= render partial: 'searches/filters' %>
     </div>
     <div class="col-9">
       <div class="border-bottom pb-2"><%=  render partial: 'searches/show_filters'  %> &nbsp;</div>
       <div class="border-bottom fw-light bg-light bg-gradient p-2">
        <% if @resources.count > 0 %> 
          <span class="fw-bolder"><%= @resource_count %></span> resources found. 
          <% if @search_terms.length > 0 %>
            Showing best matches for "<%= @search_terms %>".
          <% else %>
            Showing most recently updated.
          <% end %>
        <% else %>
          No resources found with that combination.
        <% end %>
       </div>
       
       <div class="mt-2">
        <ul class="nav nav-tabs" id="searchTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= !@show_collections ? ' active' : ''%>" id="resources-tab" data-bs-toggle="tab" data-bs-target="#resources" type="button" role="tab" aria-controls="resources" aria-selected="true">Resources</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link <%= @show_collections ? ' active' : ''%>" id="collections-tab" data-bs-toggle="tab" data-bs-target="#collections" type="button" role="tab" aria-controls="collections" aria-selected="false">Collections</button>
          </li>
        </ul>
        <div class="tab-content pt-2" id="searchTabContent">
          <div class="tab-pane fade <%= !@show_collections ? ' show active' : ''%>" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            <% if @resources.count > 0 %> 
              <ul class="list-group list-group-flush">
                <% @resources.each do |resource| %>
                    <li class="list-group-item"><%= render resource %></li>
                <% end %>
              </ul>
              <%= will_paginate @resources %>
            <% else %>
              <h4>Let Us Know What We're Missing</h4>
              <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP.</p>
              <p>
                <a class="btn-u btn-u-xs btn-u-blue" href="<%= survey_index_url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
              </p>
            <% end %>
          </div>
          <div class="tab-pane fade <%= @show_collections ? ' show active' : ''%>" id="collections" role="tabpanel" aria-labelledby="collections-tab">
            <% if @collections.count > 0 %> 
              <% @collections.each do |resource| %>
                  <%= render resource %>
              <% end %>
              <%= will_paginate @collections, :param_name => 'collection_page' %>
            <% else %>
              <h4>Let Us Know What We're Missing</h4>
              <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP.</p>
              <p>
                <a class="btn-u btn-u-xs btn-u-blue" href="<%= survey_index_url %>"><i class="fa fa-angle-right"></i> Take the survey</a>
              </p>
            <% end %>
          </div>
        </div>
       </div>
     </div>
   </div>

  </div>
</section><!-- End About Section -->