
<div class="port-slideshow-p">
  <!-- Image Carousel -->
  <div data-ride="carousel" class="carousel slide" id="port-slideshow-p">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% used_active = false %>
      <% @organizations.each do |organization| %>
          <div class="item <%= 'active' if !used_active %>">
            <div class="row-fluid">
              <% if !organization.logo.blank? %>
                <%= image_tag organization.logo.url(:medium), class: "img-responsive pull-right"  %>
              <% else %>
                  <img src="/img/placeholder-organization.png" alt="Placeholder Image" class="img-responsive pull-right">
              <% end %>
              <h3 class='primary-font'><%= link_to organization.name.truncate(27), organization %></h3>
              <hr>
              <%= simple_format organization.description.truncate(200) %>
              <%= link_to 'Read More...', organization, class: 'btn btn-lg btn-color' %>
                </div>

            </div>
          </div>
          <% if !used_active %>
            <% used_active = true  %>
          <% end %>
      <% end %>
    </div>
    <!-- Controls -->
    <a data-slide="prev" href="#port-slideshow-p" class="port-arrow-p port-arrow-prev bg-hover-color">
      <i class="fa fa-angle-left"></i>
    </a>
    <a data-slide="next" href="#port-slideshow-p" class="port-arrow-p port-arrow-next bg-hover-color">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>