<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %>Home<% end %></li>
      <li><%= link_to users_path do %>Administration<% end %></li>
      <li><%= link_to organizations_path(:page => params[:page]) do %>Organizations<% end %></li>
      <li><%= link_to organization_path(@organization) do %> <%= @organization.name %><% end %></li>
      <li>Edit</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!--=== About Section ===-->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <%= render partial: 'organizations/info', locals: { :short=>true } %>
      </div>

      <div class="col-9">
        <div class="row pb-1">
          <h5>Edit Organization Information</h5>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
