<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
        <li><%= link_to admin_index_path do %><%=t('navigation.administration')%><% end %></li>
        <li>Organizations</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
      <h5 class="border-bottom pb-2"><%=t('navigation.administration')%></h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="border-bottom">
          <div class="row pb-1">
            <div class="col-10">
              <%= render 'search' %>
            </div>
            <div class="col-2"><%=t('activerecord.attributes.organization.results')%>: <%= @organizations.count %></div>
          </div>
        </div>
        <div data-controller="organization-list">
          <table class="table table-striped table-hover" data-controller="table-sort">
            <thead>
              <th><%=t('activerecord.attributes.organization.name')%></th>
              <th><%=t('activerecord.attributes.organization.email_domain')%></th>
              <th><%=t('activerecord.attributes.organization.admins')%></th>
              <th><%=t('activerecord.attributes.organization.members')%></th>
              <th><%=t('activerecord.attributes.organization.approved')%></th>
            </thead>
            <tbody>
              <% @organizations.each do |o| %>
                <tr>
                  <td><%= link_to o.name, organization_path(o, :page => params[:page]) %></td>
                  <td><%= o.domain %></td>
                  <td><%= o.users.where("users_organizations.role = 'admin'").pluck(:name).join(', ') %></td>
                  <td class="centered-content"><%= o.users.count %></td>
                  <td class="centered-content">
                    <% if o.approved %>
                      <i class="fa fa-check-circle green"></i>
                    <% else %>
                      <% if can? :approve, @organization %>
                        <%= link_to organization_approve_path(o.url), class: "approve" do %><i class="fa-solid fa-stamp warning-yellow approve"></i><% end %>
                      <% else %>
                        <i class="fa-solid fa-hourglass warning-yellow"></i>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="text-center"><%= button_to deactivate_organization_path(o.id), method: :put, remote: true, class: 'btn btn-outline-danger btn-sm', role: "button" do %>Deactivate<% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @organizations.count > 30 %>
            <div class="apple_pagination">
              <%= will_paginate @organizations %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->