<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %>Home<% end %></li>
      <li><%= link_to users_path do %>Administration<% end %></li>
      <li><%= link_to organizations_path(:page => params[:page]) do %>Organizations<% end %></li>
      <li>New</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!--=== About Section ===-->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><%=t('navigation.administration')%></h5>
        <%= render 'admin/side_nav' %>
      </div>

      <div class="col-9">
        <div class="row pb-1">
          <h5>Apply to Become a Partner Organization</h5>
            <h6>Why do I need one?</h6>
            <p>Organizations are used to create, manage and publish collections of collections. Users can have different roles within an Organization, depending on their level of authorization to create, edit and publish. </p>
            <p>Enter the details of your organization below</p>
            <%= render partial: 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>
