<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><%= link_to root_path do %>Home<% end %></li>
      <li><%= link_to users_path do %>Administration<% end %></li>
      <li><%= link_to organizations_path(:page => params[:page]) do %>Organizations<% end%></li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->

<!--=== About Section ===-->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <%= render partial: 'organizations/info', locals: { :short=>false } %>
      </div>

      <div class="col-9">
        <div class="border-bottom pb-2"><span class="fs-5"><%= @organization.name %> &nbsp;</span></div>
        <div class="row pb-1 mt-2">
          <!-- Tab v1 -->
          <div class="tab-v1">
            <nav>
              <ul class="nav nav-tabs pb-2">
                <li class="pe-4 ps-2"><a href="#resources" class="active" data-bs-toggle="tab" data-bs-target="#resources">Uploads&nbsp;<span class="badge rounded-pill bg-dark dark-badge-link align-text-bottom"><%= @resource_count %></span></a></li>
                <% if (!@resources_pending.nil? and @resources_pending.count > 0) || (!@collections_pending.nil? and @collections_pending.count > 0) %>
                  <li class="pe-4"><a href="#resources_pending" data-bs-toggle="tab" data-bs-target="#resources_pending">Pending Approval</a></li>
                <% end %>
                <li class="pe-4"><a href="#members" data-bs-toggle="tab" data-bs-target="#members">Members</a></li>
              </ul>
            </nav>

            <div class="tab-content">
              <!--- RESOURCES TAB --->
              <div class="tab-pane fade show active pb-2" id="resources">
                <!--- Resource search and add (if permitted) within organization --->
                <div class="row pb-2">
                  <div class="col-12">
                    <%= form_for @organization, method: 'get', role: 'form', class: 'form-inline text-center pb-2' do %>
                      <div class="input-group">
                        <%= text_field_tag :resource_query, params[:resource_query], class: 'form-control', placeholder: 'Search ' + @organization.name + '\'s Resources', id: 'shop-search' %>
                        <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
                        <% if !params[:resource_query].nil? %>
                          <%= link_to organization_path(@organization), class: 'btn btn-outline-primary', role: "button" do %><i class="fa fa-refresh"></i><% end %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <h5 class="pt-2 ps-3"><% if !params[:resource_query].nil? %> <%= @resource_count %> resources <%= 'found with "' + params[:resource_query] + '"' %><% else %>&nbsp; <% end %> </h6>
                  <!--- End resource search and add --->

                  <!--- Resource and collections content --->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="tab-v1">
                        <ul class="nav nav-tabs">
                          <li class="nav-item"><a href="#inner_resources" class="nav-link nav-link-large <%= !@show_collections ? 'active' : ''%>" data-bs-toggle="tab" data-bs-target="#inner_resources">Resources</a></li>
                          <li class="nav-item"><a href="#inner_collections" class="nav-link nav-link-large  <%= @show_collections ? 'active' : ''%>" data-bs-toggle="tab" data-bs-target="#inner_collections">Collections</a></li>
                          <% if @organization.can_manage_users(current_user) or can? :manage, :all %>
                            <li class="nav-item"><a href="#inner_private_resources" class="nav-link nav-link-large" data-bs-toggle="tab" data-bs-target="#inner_private_resources">Private Resources</a></li>
                          <% end %>
                        </ul>
                        <div class="tab-content">
                          <div id="inner_resources" class="tab-pane show fade <%= !@show_collections ? 'active' : ''%>">
                            <% if @resources.count > 0 %>
                              <% @resources.each do |resource| %>
                                <%= render resource %>
                              <% end %>
                              <%= will_paginate @resources %>
                            <% else %>
                              <blockquote>No resources found.</blockquote>
                              <div class="alert alert-info">
                                <h4>Let Us Know What We're Missing</h4>
                                <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP</p>
                                <p><%= link_to "Take the Survey", survey_index_path, class: 'btn btn-outline-primary' %></p>
                              </div>
                            <% end %>
                          </div>
                      
                          <div id="inner_collections" class="tab-pane show fade <%= @show_collections ? 'active' : ''%>">
                            <% if @collections.count > 0 %>
                              <% @collections.each do |resource| %>
                                <%= render resource %>
                              <% end %>
                              <%= will_paginate @collections, :param_name => 'collection_page' %>
                            <% else %>
                              <blockquote>No collections found.</blockquote>
                              <div class="alert alert-info">
                                <h4>Let Us Know What We're Missing</h4>
                                <p>Didn't find what you were looking for? Take our survey and let us know what you would like to see on the KaMP</p>
                                <p><%= link_to "Take the Survey", survey_index_path, class: 'btn btn-outline-primary' %></p>
                              </div>
                            <% end %>
                          </div>

                          <div id="inner_private_resources" class="tab-pane show fade">
                            <% if @private_resources.count > 0 %>
                              <% @private_resources.each do |resource| %>
                                <%= render resource %>
                              <% end %>
                              <%= will_paginate @private_resources, :param_name => 'private_resource_page' %>
                            <% else %>
                              <blockquote>No private resources.</blockquote>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!--- End resource and collections content --->
                </div>
              </div><!--- END RESOURCES TAB --->

              <!--- PENDING TAB --->
              <% if (!@resources_pending.nil? and @resources_pending.count > 0)  || (!@collections_pending.nil? and @collections_pending.count > 0) %>
                <div class="tab-pane fade" id="resources_pending">
                  <div class="row-fluid">
                    <div class="col-sm-12">
                      <h4>Resources</h4>
                      <% if @resources_pending.count > 0 %>
                        <p><%= @resources_pending.count %> resource(s) pending approval</p>
                        <div class="card">
                          <div class="card-body">
                            <% @resources_pending.each do |resource| %>
                              <%= render resource %>
                            <% end %>
                          </div>
                        </div>
                      <% else %>
                        <p>No pending resources found.</p>
                      <% end %>
                    </div>
                    <div class="col-sm-12">
                      <h4>Collections</h4>
                      <% if @collections_pending.count > 0 %>
                        <p><%= @collections_pending.count %> collection(s) pending approval</p>
                        <div class="card">
                          <div class="card-body">
                            <% @collections_pending.each do |resource| %>
                              <%= render resource %>
                            <% end %>
                          </div>
                        </div>
                      <% else %>
                        <p>No pending collections found.</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %><!--- END PENDING TAB --->

              <!--- MEMBERS TAB --->
              <div class="tab-pane fade" id="members">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="tab-v1">
                      <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#pending_users" class="nav-link nav-link-large active" data-bs-toggle="tab" data-bs-target="#pending_users">Pending Applications</a><li>
                        <li class="nav-item"><a href="#users" class="nav-link nav-link-large" data-bs-toggle="tab" data-bs-target="#users">Current Users</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="pending_users" class="tab-pane show fade active">
                          <% if @organization.can_manage_users(current_user) or can? :manage, :all %>
                            <%= link_to "Add Member", organization_add_user_path(@organization), class: 'btn btn-outline-primary float-end' %>
                          <% end %>
                          <% if (@organization.can_manage_users(current_user) or can? :manage, :all) and @pending_applications.count > 0 %>
                            <table class="table table-striped table-hover" data-controller="table-sort">
                              <thead>
                                <th><%=t('activerecord.attributes.user.name')%></th>
                                <th><%=t('activerecord.attributes.user.email')%></th>
                              </thead>
                              <tbody>
                                <% @pending_applications.each do |pa| %>
                                  <tr>
                                    <td><%= link_to pa.user.name, user_path(pa.user, :page => params[:page]) %></td>
                                    <td><%= pa.user.email %></td>
                                    <td><%= link_to("Approve", organization_process_application_path(:id=> pa.id, :result => "approve"), :data => { turbo_confirm: "You are about to accept this membership application\n\nAre you sure?" }, :class => 'btn btn-outline-primary btn-sm float-end') %></td>
                                    <td><%= link_to("Deny", organization_process_application_path(:id=> pa.id, :result => "deny"), :data => { turbo_confirm: "Are you sure you would like to deny this application?" }, :class => 'btn btn-outline-danger btn-sm float-end') %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                            <% if @pending_applications.count > 30 %>
                              <div class="apple_pagination">
                                <%= will_paginate @users %>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                        <div id="users" class="tab-pane show fade ">
                          <p>Users that register with a <b>verified <%= @organization.domain if !@organization.domain.nil?  %></b> email address will automatically become members of this organization.</p>
                          <% if @organization.users_organizations.count > 0 %>
                            <table class="table table-striped table-hover" data-controller="table-sort">
                              <thead>
                                <th><%=t('activerecord.attributes.user.name')%></th>
                                <th><%=t('activerecord.attributes.user.email')%></th>
                                <th>Organization Role</th>
                                <th>Other Organizations</th>
                              </thead>
                              <tbody>
                                <% @users.each do |u| %>
                                  <% uo = u.users_organizations %>
                                  <tr>
                                    <td><%= link_to u.name, user_path(u, :page => params[:page]) %></td>
                                    <td><%= u.email %></td>
                                    <td>
                                      <div class="dropdown">
                                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" style="width:90px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          <%= uo.where(organization_id: @organization.id).length ? uo.first.role.titleize : "Select" %>
                                        </button>
                                        <ul class="dropdown-menu">
                                          <% UsersOrganization.role.values.each do |r| %>
                                            <li><%= link_to r.capitalize, update_org_role_path(id: uo.first.id, role: r), data: { turbo_method: :put }, class: "dropdown-item" %></li>
                                          <% end %>
                                        </ul>
                                      </div>
                                    </td>
                                    <td><% if !u.organizations.nil? %>
                                      <% uo.where.not(organization_id: @organization.id).each do |uo| %>
                                        <%= link_to uo.organization.name, organization_path(uo.organization) %> (<%= uo.role %>)<br>
                                      <% end %>
                                    <% end %></td>
                                    <td class="text-center"><%= button_to deactivate_user_path(u), method: :put, remote: true, class: 'btn btn-outline-danger btn-sm', role: "button" do %>Deactivate<% end %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                            <% if @users.count > 30 %>
                              <div class="apple_pagination">
                                <%= will_paginate @users %>
                              </div>
                            <% end %>
                          <% else %>
                              <p>This organization has no members yet.</p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--- END MEMBERS TAB --->
            </div>

          </div>
          <!-- End Tab v1 -->
        </div>
      </div>

    </div>
  </div>
</section>