<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><%= link_to root_path do %><%=t('navigation.home')%><% end %></li>
        <li><%= link_to admin_index_path do %><%=t('navigation.administration')%><% end %></li>
        <li><%= link_to tag_types_path do %><%=t('navigation.tag_types')%><% end %></li>
        <li>New</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-3 border-end">
        <h5 class="border-bottom pb-2"><i class="bi bi-tags"></i> Tag Types</h5>
        <%= render 'admin/side_nav' %>
        <br/>
      </div>

      <div class="col-9">
        <div class="border-bottom pb-2 h5">New Tag Type</div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>