<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title><%= @page_title + " | " if !@page_title.nil? %><%= content_for?(:title) ? yield(:title) : "Jordan Development KaMP" %></title>

  <!-- Meta -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

  <%= render  'layouts/top_toolbar' %>

  <%= render  'layouts/header' %>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">


          <!-- Slide 2 -->
          <div class="carousel-item active" style="background-image: url(/img/amman_bg_2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
              <div class="row">
                <div class="col-4 pt-5">
                  <div class="card card-body border-0 home-about-box">
                    <h2>Welcome to the <span>Jordan Knowledge Management Portal</span></h2>
                  
                    <div class="ps-4 pb-2">
                      This portal is a repository of development resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan. 
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="row">
                    <div class="col-6">
                      <div class="hero-box border-dark card">
                        <div class="card-body">
                          <h3 class="card-title text-dark">Find Resources</h3>
                          <p class="card-text">
                             <% if @search.nil? %>
                                <%  search = Search.new %>
                            <% else %>
                                <% search = @search %>
                            <% end %>
                            <%= render partial: 'searches/form', locals: { search: search } %>
                            <div class="row pt-4 d-flex align-items-center text-secondary">
                              <div class="col d-flex justify-content-center">
                                <%= Resource.all.count %> Resources
                              </div>
                              <div class="col d-flex justify-content-center text-secondary">
                                <%= Collection.all.count %> Collections
                              </div>
                            </div>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="hero-box border-primary card">
                      <div class="card-body">
                        <h3 class="card-title text-primary">Announcements</h3>
                          <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                      </div>
                    </div>
                    </div>
                  </div>
                   <div class="row">
                    <div class="col-6">
                      <div class="hero-box border-primary card">
                      <div class="card-body">
                        <h3 class="card-title text-primary">Events</h3>
                          <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                      </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="hero-box border-danger card">
                        <div class="card-body">
                          <h3 class="card-title text-danger">Communities of Practice</h3>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <% @featured_searches.each do |fs| %>
            <div class="col">
              <div class="icon-box">
                <i class="<%= fs.icon_identifier %>"></i>
                <h3><a href="<%= fs.get_url %>">
                  Learn About <br/>
                  <%= fs.name %>
                </a></h3>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <%= yield %>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <%= render  'layouts/footer' %>


</body>
</html>
